In [1]:
import pandas as pd
from matplotlib_venn import venn2, venn2_unweighted
import matplotlib.pyplot as plt

In [40]:
ncbi = ncbi = pd.read_csv('Insetos/GCF_003254395.2_Amel_HAv3.1_genomic.gff', sep='\t', skiprows=8, names=['seq_id', 'source', 'type', 'start', 'end', 'score', 'strand', 'phase', 'attributes'])
ncbi = ncbi[:-1]
#ncbi = ncbi[['query', 'start', 'end', 'type']]
#ncbi['query'] = ncbi['query'].str.replace(' ','')

"""
for index, row in ncbi.iterrows():
    if ncbi.loc[index,'start'] > ncbi.loc[index,'end']:
        aux = ncbi.loc[index,'start']
        ncbi.loc[index,'start'] = ncbi.loc[index,'end'] 
        ncbi.loc[index,'end'] = aux
"""
ncbi = ncbi.dropna()
ncbi['start'] = ncbi.start.astype('int64')
ncbi['end'] = ncbi.end.astype('int64')

ncbi

,seq_id,source,type,start,end,score,strand,phase,attributes
0,NC_037638.1,RefSeq,region,1,27754200,.,+,.,ID=NC_037638.1:1..27754200;Dbxref=taxon:7460;N...
1,NC_037638.1,Gnomon,gene,9273,12174,.,-,.,"ID=gene-LOC551580;Dbxref=BEEBASE:GB42195,GeneI..."
2,NC_037638.1,Gnomon,transcript,9274,12174,.,-,.,ID=rna-XR_001705491.2;Parent=gene-LOC551580;Db...
3,NC_037638.1,Gnomon,exon,11812,12174,.,-,.,ID=exon-XR_001705491.2-1;Parent=rna-XR_0017054...
4,NC_037638.1,Gnomon,exon,11054,11121,.,-,.,ID=exon-XR_001705491.2-2;Parent=rna-XR_0017054...
...,...,...,...,...,...,...,...,...,...
537404,NC_001566.1,RefSeq,exon,14662,14731,.,-,.,ID=exon-KEF36_t22-1;Parent=rna-KEF36_t22;Dbxre...
537405,NC_001566.1,RefSeq,gene,14732,15517,.,-,.,ID=gene-KEF36_r01;Dbxref=GeneID:64984920;Name=...
537406,NC_001566.1,RefSeq,rRNA,14732,15517,.,-,.,ID=rna-KEF36_r01;Parent=gene-KEF36_r01;Dbxref=...
537407,NC_001566.1,RefSeq,exon,14732,15517,.,-,.,ID=exon-KEF36_r01-1;Parent=rna-KEF36_r01;Dbxre...
537408,NC_001566.1,RefSeq,sequence_feature,15517,16343,.,+,.,ID=id-NC_001566.1:15517..16343;Note=A+T rich r...

In [42]:
ncbi['type'].unique()

array(['region', 'gene', 'transcript', 'exon', 'mRNA', 'CDS', 'lnc_RNA',
       'primary_transcript', 'miRNA', 'tRNA', 'snoRNA', 'snRNA',
       'pseudogene', 'cDNA_match', 'rRNA', 'guide_RNA',
       'sequence_feature'], dtype=object)

In [53]:
tRNA = ncbi[ncbi['type']=='tRNA']
tRNA['attributes'][2698]

'ID=rna-TRNAK-CUU;Parent=gene-TRNAK-CUU;Dbxref=GeneID:107966077;Note=transfer RNA lysine (anticodon CUU);anticodon=(pos:1040917..1040919);gbkey=tRNA;gene=TRNAK-CUU;inference=COORDINATES: profile:tRNAscan-SE:1.23;product=tRNA-Lys'

In [60]:
ncbi2 = ncbi['attributes'].str.split("gbkey=", n=-1, expand=True)
ncbi3 = ncbi2[1].str.split(";", n=-1, expand=True)
ncbi3

,0,1,2,3,4,5,6,7,8
0,Src,genome=chromosome,isolation-source=bee hive,linkage-group=LG1,mol_type=genomic DNA,sex=male,strain=DH4,tissue-type=whole body,None
1,Gene,gene=LOC551580,gene_biotype=protein_coding,None,None,None,None,None,None
2,misc_RNA,gene=LOC551580,model_evidence=Supporting evidence includes si...,product=ubiquitin-related modifier 1%2C transc...,transcript_id=XR_001705491.2,None,None,None,None
3,misc_RNA,gene=LOC551580,product=ubiquitin-related modifier 1%2C transc...,transcript_id=XR_001705491.2,None,None,None,None,None
4,misc_RNA,gene=LOC551580,product=ubiquitin-related modifier 1%2C transc...,transcript_id=XR_001705491.2,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...
537404,tRNA,locus_tag=KEF36_t22,product=tRNA-Val,None,None,None,None,None,None
537405,Gene,gene_biotype=rRNA,locus_tag=KEF36_r01,None,None,None,None,None,None
537406,rRNA,locus_tag=KEF36_r01,product=12S ribosomal RNA,None,None,None,None,None,None
537407,rRNA,locus_tag=KEF36_r01,product=12S ribosomal RNA,None,None,None,None,None,None
537408,misc_feature,None,None,None,None,None,None,None,None

In [78]:
result = ncbi3[(ncbi3[0]!='Src') & (ncbi3[0]!='mRNA') & (ncbi3[0]!='CDS') & (ncbi3[0]!='Gene')]
result

,0,1,2,3,4,5,6,7,8
2,misc_RNA,gene=LOC551580,model_evidence=Supporting evidence includes si...,product=ubiquitin-related modifier 1%2C transc...,transcript_id=XR_001705491.2,None,None,None,None
3,misc_RNA,gene=LOC551580,product=ubiquitin-related modifier 1%2C transc...,transcript_id=XR_001705491.2,None,None,None,None,None
4,misc_RNA,gene=LOC551580,product=ubiquitin-related modifier 1%2C transc...,transcript_id=XR_001705491.2,None,None,None,None,None
5,misc_RNA,gene=LOC551580,product=ubiquitin-related modifier 1%2C transc...,transcript_id=XR_001705491.2,None,None,None,None,None
6,misc_RNA,gene=LOC551580,product=ubiquitin-related modifier 1%2C transc...,transcript_id=XR_001705491.2,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...
537403,tRNA,locus_tag=KEF36_t22,product=tRNA-Val,None,None,None,None,None,None
537404,tRNA,locus_tag=KEF36_t22,product=tRNA-Val,None,None,None,None,None,None
537406,rRNA,locus_tag=KEF36_r01,product=12S ribosomal RNA,None,None,None,None,None,None
537407,rRNA,locus_tag=KEF36_r01,product=12S ribosomal RNA,None,None,None,None,None,None
537408,misc_feature,None,None,None,None,None,None,None,None

In [79]:
result[0].unique()

array(['misc_RNA', 'ncRNA', 'precursor_RNA', 'tRNA', 'exon', None, 'rRNA',
       'misc_feature'], dtype=object)

In [82]:
result[result[0].isnull()]

           0     1     2     3     4     5     6     7     8
66289   None  None  None  None  None  None  None  None  None
66290   None  None  None  None  None  None  None  None  None
66291   None  None  None  None  None  None  None  None  None
66292   None  None  None  None  None  None  None  None  None
66293   None  None  None  None  None  None  None  None  None
...      ...   ...   ...   ...   ...   ...   ...   ...   ...
536912  None  None  None  None  None  None  None  None  None
536913  None  None  None  None  None  None  None  None  None
536914  None  None  None  None  None  None  None  None  None
536915  None  None  None  None  None  None  None  None  None
536916  None  None  None  None  None  None  None  None  None

[1671 rows x 9 columns]

In [87]:
ncbi['attributes'] = ncbi3[0]
ncbi

,seq_id,source,type,start,end,score,strand,phase,attributes
0,NC_037638.1,RefSeq,region,1,27754200,.,+,.,Src
1,NC_037638.1,Gnomon,gene,9273,12174,.,-,.,Gene
2,NC_037638.1,Gnomon,transcript,9274,12174,.,-,.,misc_RNA
3,NC_037638.1,Gnomon,exon,11812,12174,.,-,.,misc_RNA
4,NC_037638.1,Gnomon,exon,11054,11121,.,-,.,misc_RNA
...,...,...,...,...,...,...,...,...,...
537404,NC_001566.1,RefSeq,exon,14662,14731,.,-,.,tRNA
537405,NC_001566.1,RefSeq,gene,14732,15517,.,-,.,Gene
537406,NC_001566.1,RefSeq,rRNA,14732,15517,.,-,.,rRNA
537407,NC_001566.1,RefSeq,exon,14732,15517,.,-,.,rRNA
537408,NC_001566.1,RefSeq,sequence_feature,15517,16343,.,+,.,misc_feature

In [95]:
ncbi[ncbi['attributes'].isnull()]

,seq_id,source,type,start,end,score,strand,phase,attributes
66289,NC_037638.1,RefSeq,cDNA_match,821805,824037,2210.98,-,.,None
66290,NC_037638.1,RefSeq,cDNA_match,880433,880833,398.956,+,.,None
66291,NC_037638.1,RefSeq,cDNA_match,948721,948870,150,+,.,None
66292,NC_037638.1,RefSeq,cDNA_match,955329,955478,150,+,.,None
66293,NC_037638.1,RefSeq,cDNA_match,987076,987202,127,+,.,None
...,...,...,...,...,...,...,...,...,...
536912,NW_020555887.1,RefSeq,cDNA_match,21902,22199,.,-,.,None
536913,NW_020555887.1,RefSeq,cDNA_match,20415,20527,.,-,.,None
536914,NW_020555887.1,RefSeq,cDNA_match,20106,20320,.,-,.,None
536915,NW_020555887.1,RefSeq,cDNA_match,18812,19159,.,-,.,None
536916,NW_020555887.1,RefSeq,cDNA_match,17231,17944,.,-,.,None

In [154]:
ncbi = ncbi[ncbi['type']!='cDNA_match']
ncbi

,seq_id,source,type,start,end,score,strand,phase,attributes
0,NC_037638.1,RefSeq,region,1,27754200,.,+,.,Src
1,NC_037638.1,Gnomon,gene,9273,12174,.,-,.,Gene
2,NC_037638.1,Gnomon,transcript,9274,12174,.,-,.,misc_RNA
3,NC_037638.1,Gnomon,exon,11812,12174,.,-,.,misc_RNA
4,NC_037638.1,Gnomon,exon,11054,11121,.,-,.,misc_RNA
...,...,...,...,...,...,...,...,...,...
537404,NC_001566.1,RefSeq,exon,14662,14731,.,-,.,tRNA
537405,NC_001566.1,RefSeq,gene,14732,15517,.,-,.,Gene
537406,NC_001566.1,RefSeq,rRNA,14732,15517,.,-,.,rRNA
537407,NC_001566.1,RefSeq,exon,14732,15517,.,-,.,rRNA
537408,NC_001566.1,RefSeq,sequence_feature,15517,16343,.,+,.,misc_feature

In [103]:
result = ncbi[(ncbi['attributes']!='Src') & (ncbi['attributes']!='mRNA') & (ncbi['attributes']!='CDS') & (ncbi['attributes']!='Gene')& (ncbi['attributes']!='exon')]

In [284]:
result = ncbi[(ncbi['attributes']!='Src') & (ncbi['attributes']!='Gene') & (ncbi['type']!='transcript') & (ncbi['attributes']!='CDS') & (ncbi['type']!='exon')]

In [285]:
result = result.drop_duplicates(subset=['seq_id', 'start', 'end'])
#teste = result[result['type']=='exon']
#teste['attributes'].unique()
result

,seq_id,source,type,start,end,score,strand,phase,attributes
14,NC_037638.1,Gnomon,mRNA,9273,12174,.,-,.,mRNA
26,NC_037638.1,Gnomon,mRNA,10792,17179,.,+,.,mRNA
38,NC_037638.1,Gnomon,mRNA,12282,17180,.,+,.,mRNA
50,NC_037638.1,Gnomon,mRNA,12292,17180,.,+,.,mRNA
79,NC_037638.1,Gnomon,mRNA,17090,23457,.,-,.,mRNA
...,...,...,...,...,...,...,...,...,...
537397,NC_001566.1,RefSeq,tRNA,13220,13290,.,-,.,tRNA
537400,NC_001566.1,RefSeq,rRNA,13291,14661,.,-,.,rRNA
537403,NC_001566.1,RefSeq,tRNA,14662,14731,.,-,.,tRNA
537406,NC_001566.1,RefSeq,rRNA,14732,15517,.,-,.,rRNA
537408,NC_001566.1,RefSeq,sequence_feature,15517,16343,.,+,.,misc_feature

In [286]:
result['attributes'].unique()

array(['mRNA', 'ncRNA', 'precursor_RNA', 'tRNA', 'rRNA', 'misc_feature'],
      dtype=object)

In [230]:
result = result.sort_values(by=['seq_id', 'start'])
result['source'] = 'RefSeq'
result

,seq_id,source,type,start,end,score,strand,phase,attributes
537285,NC_001566.1,RefSeq,tRNA,1,66,.,+,.,tRNA
537288,NC_001566.1,RefSeq,tRNA,116,178,.,+,.,tRNA
537291,NC_001566.1,RefSeq,tRNA,221,286,.,+,.,tRNA
537294,NC_001566.1,RefSeq,tRNA,296,358,.,+,.,tRNA
537297,NC_001566.1,RefSeq,tRNA,360,429,.,+,.,tRNA
...,...,...,...,...,...,...,...,...,...
537205,NW_020555924.1,RefSeq,exon,7856,7996,.,+,.,ncRNA
537181,NW_020555924.1,RefSeq,exon,8354,8575,.,+,.,ncRNA
537182,NW_020555924.1,RefSeq,exon,8657,8726,.,+,.,ncRNA
537183,NW_020555924.1,RefSeq,exon,8882,9052,.,+,.,ncRNA
537252,NW_020555938.1,RefSeq,rRNA,1,3962,.,+,.,rRNA

# VitorTool

In [244]:
vitor = pd.read_csv('Insetos/Amellifera/AmelliferaFinal_ResultadoFinal.gff', skiprows=1, sep='\t', names=['seq_id', 'source', 'type', 'start', 'end', 'score', 'strand', 'phase', 'attributes'])
vitor

,seq_id,source,type,start,end,score,strand,phase,attributes
0,5S_rRNA,Infernal,ncRNA,1,119,0.53,3459830,.,id1
1,Seq_1,Infernal,miRNA,138181,138247,58.80,-,.,id2
2,Seq_1,Infernal,miRNA,139126,139193,64.70,-,.,id3
3,Seq_1,Infernal,miRNA,139340,139410,59.50,-,.,id4
4,Seq_1,Infernal,miRNA,139689,139750,60.30,-,.,id5
...,...,...,...,...,...,...,...,...,...
522,Seq_88,Both,tRNA,69980,70051,134.00,+,.,id523
523,Seq_88,Both,pre_miRNA,228877,229013,254.00,-,.,id524
524,Seq_88,Blast,pre_miRNA,229034,229169,252.00,-,.,id525
525,Seq_93,Infernal,rRNA,4016,4538,146.80,+,.,id526
526,Seq_99,Blast,ncRNA,43157,43824,1206.00,-,.,id527

In [113]:
from Bio import SeqIO
from Bio.SeqRecord import SeqRecord

frags=[]
n=0
for record in SeqIO.parse('Insetos/Amellifera/GCF_003254395.2_Amel_HAv3.1_genomic.fna', 'fasta'):
    frags.append(record.id)

In [119]:
seq=[]
for i in range(len(frags)):
    seq.append('Seq_'+str(i+1))
    
df = pd.DataFrame(columns=['seq_id','ID'])
df.ID=frags
df.seq_id = seq
df

      seq_id              ID
0      Seq_1     NC_037638.1
1      Seq_2     NC_037639.1
2      Seq_3  NW_020555788.1
3      Seq_4     NC_037640.1
4      Seq_5     NC_037641.1
..       ...             ...
172  Seq_173  NW_020555944.1
173  Seq_174  NW_020555945.1
174  Seq_175  NW_020555946.1
175  Seq_176  NW_020555947.1
176  Seq_177     NC_001566.1

[177 rows x 2 columns]

In [273]:
df[df['ID']=='NW_020555938.1']

      seq_id              ID
166  Seq_167  NW_020555938.1

In [146]:
vitorTool = pd.merge(vitor, df, how='inner')
vitorTool['seq_id'] = vitorTool['ID']
vitorTool = vitorTool.drop('ID', axis=1)
vitorTool['source'] = 'VitorTool'
vitorTool

,seq_id,source,type,start,end,score,strand,phase,attributes
0,NC_037638.1,VitorTool,miRNA,138181,138247,58.8,-,.,id2
1,NC_037638.1,VitorTool,miRNA,139126,139193,64.7,-,.,id3
2,NC_037638.1,VitorTool,miRNA,139340,139410,59.5,-,.,id4
3,NC_037638.1,VitorTool,miRNA,139689,139750,60.3,-,.,id5
4,NC_037638.1,VitorTool,miRNA,140358,140429,66.3,-,.,id6
...,...,...,...,...,...,...,...,...,...
521,NW_020555859.1,VitorTool,tRNA,69980,70051,134.0,+,.,id523
522,NW_020555859.1,VitorTool,pre_miRNA,228877,229013,254.0,-,.,id524
523,NW_020555859.1,VitorTool,pre_miRNA,229034,229169,252.0,-,.,id525
524,NW_020555864.1,VitorTool,rRNA,4016,4538,146.8,+,.,id526
525,NW_020555870.1,VitorTool,ncRNA,43157,43824,1206.0,-,.,id527

In [128]:
junto = pd.merge(vitorTool, result, how='outer', on=['seq_id','start', 'end'], indicator=True)
junto

,seq_id,source_x,type_x,start,end,...,score_y,strand_y,phase_y,attributes_y,_merge
0,NC_037638.1,Infernal,miRNA,138181,138247,...,NaN,NaN,NaN,NaN,left_only
1,NC_037638.1,Infernal,miRNA,139126,139193,...,NaN,NaN,NaN,NaN,left_only
2,NC_037638.1,Infernal,miRNA,139340,139410,...,NaN,NaN,NaN,NaN,left_only
3,NC_037638.1,Infernal,miRNA,139689,139750,...,NaN,NaN,NaN,NaN,left_only
4,NC_037638.1,Infernal,miRNA,140358,140429,...,NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...
17720,NW_020555924.1,NaN,NaN,7856,9052,...,.,+,.,ncRNA,right_only
17721,NW_020555924.1,NaN,NaN,7856,7996,...,.,+,.,ncRNA,right_only
17722,NW_020555924.1,NaN,NaN,8354,8575,...,.,+,.,ncRNA,right_only
17723,NW_020555924.1,NaN,NaN,8657,8726,...,.,+,.,ncRNA,right_only
17724,NW_020555924.1,NaN,NaN,8882,9052,...,.,+,.,ncRNA,right_only

In [274]:
def overlaps_blast_infernal(arqBlast, arqInfernal):
        
        operacao = 'I'
        remover=[]
        for i in arqBlast.index:
                for j in arqInfernal.index:
                    
                    if arqBlast.loc[i, 'seq_id']== arqInfernal.loc[j, 'seq_id']:
                        if arqBlast.loc[i, 'start']>= arqInfernal.loc[j, 'start']:
                            maiorFrom = arqBlast.loc[i, 'start']
                            menorFrom = arqInfernal.loc[j, 'start']
                        else:
                            maiorFrom = arqInfernal.loc[j, 'start']
                            menorFrom = arqBlast.loc[i, 'start']
                            
                        if arqBlast.loc[i, 'end']>= arqInfernal.loc[j, 'end']:
                            maiorTo = arqBlast.loc[i, 'end']
                            menorTo = arqInfernal.loc[j, 'end']
                        else:
                            maiorTo = arqInfernal.loc[j, 'end']
                            menorTo = arqBlast.loc[i, 'end']
                        
                        if arqBlast.loc[i, 'start']>= arqInfernal.loc[j, 'start'] and arqBlast.loc[i, 'start']<= arqInfernal.loc[j, 'end'] and arqBlast.loc[i, 'end']>= arqInfernal.loc[j, 'start'] and arqBlast.loc[i, 'end']<= arqInfernal.loc[j, 'end']:
                            if arqBlast.loc[i, 'source'] != arqInfernal.loc[j, 'source']:
                                arqBlast.loc[i, 'attributes'] = arqInfernal.loc[j, 'attributes']
                                remover.append(j)
                                arqBlast.loc[i, 'source'] = 'Both'
                                if operacao == "I":
                                    arqBlast.loc[i, 'start'] = maiorFrom
                                    arqBlast.loc[i, 'end'] = menorTo
                                else:
                                    arqBlast.loc[i, 'start'] = menorFrom
                                    arqBlast.loc[i, 'end'] = maiorTo
                                                   
                        
                        elif arqBlast.loc[i, 'start']>= arqInfernal.loc[j, 'start'] and arqBlast.loc[i, 'start']<= arqInfernal.loc[j, 'end'] and arqBlast.loc[i, 'end']>= arqInfernal.loc[j, 'start'] and arqBlast.loc[i, 'end']>= arqInfernal.loc[j, 'end']:
                            if arqBlast.loc[i, 'source'] != arqInfernal.loc[j, 'source']:
                                arqBlast.loc[i, 'attributes'] = arqInfernal.loc[j, 'attributes']
                                remover.append(j)
                                arqBlast.loc[i, 'source'] = 'Both'
                                if operacao == "I":
                                    arqBlast.loc[i, 'start'] = maiorFrom
                                    arqBlast.loc[i, 'end'] = menorTo
                                else:
                                    arqBlast.loc[i, 'start'] = menorFrom
                                    arqBlast.loc[i, 'end'] = maiorTo
                                                   
                        elif arqBlast.loc[i, 'start']<= arqInfernal.loc[j, 'start'] and arqBlast.loc[i, 'start']<= arqInfernal.loc[j, 'end'] and arqBlast.loc[i, 'end']>= arqInfernal.loc[j, 'start']:
                            if  arqBlast.loc[i, 'source'] != arqInfernal.loc[j, 'source']:
                                arqBlast.loc[i, 'attributes'] = arqInfernal.loc[j, 'attributes']
                                remover.append(j)
                                arqBlast.loc[i, 'source'] = 'Both'
                                if operacao == "I":
                                    arqBlast.loc[i, 'start'] = maiorFrom
                                    arqBlast.loc[i, 'end'] = menorTo
                                else:
                                    arqBlast.loc[i, 'start'] = menorFrom
                                    arqBlast.loc[i, 'end'] = maiorTo
                            
        return arqBlast, arqInfernal.drop(remover)

In [209]:
opecao = 'I'
result1, result2 = overlaps_blast_infernal(vitorTool, result)
result1

,seq_id,source,type,start,end,score,strand,phase,attributes
0,NC_037638.1,Both,miRNA,1,27754200,58.8,-,.,mRNA
1,NC_037638.1,Both,miRNA,1,27754200,64.7,-,.,mRNA
2,NC_037638.1,Both,miRNA,1,27754200,59.5,-,.,mRNA
3,NC_037638.1,Both,miRNA,1,27754200,60.3,-,.,mRNA
4,NC_037638.1,Both,miRNA,1,27754200,66.3,-,.,mRNA
...,...,...,...,...,...,...,...,...,...
521,NW_020555859.1,Both,tRNA,1,486754,134.0,+,.,mRNA
522,NW_020555859.1,Both,pre_miRNA,1,486754,254.0,-,.,mRNA
523,NW_020555859.1,Both,pre_miRNA,1,486754,252.0,-,.,mRNA
524,NW_020555864.1,Both,rRNA,1,92711,146.8,+,.,ncRNA
525,NW_020555870.1,Both,ncRNA,1,52744,1206.0,-,.,mRNA

In [210]:
result1['score'] = result1.score.astype('object')

In [211]:
juntoFinal = pd.merge(result1, result2, how ='outer')
juntoFinal = juntoFinal.sort_values(by=['seq_id', 'start'])
juntoFinal

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\reshape\merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)

,seq_id,source,type,start,end,score,strand,phase,attributes
120,NC_001566.1,Both,tRNA,1,16343,32.4,-,.,misc_feature
121,NC_001566.1,Both,rRNA,1,16343,2532.0,-,.,misc_feature
122,NC_001566.1,Both,rRNA,1,16343,1452.0,-,.,misc_feature
0,NC_037638.1,Both,miRNA,1,27754200,58.8,-,.,mRNA
1,NC_037638.1,Both,miRNA,1,27754200,64.7,-,.,mRNA
...,...,...,...,...,...,...,...,...,...
872,NW_020555924.1,RefSeq,exon,7856,7996,.,+,.,ncRNA
873,NW_020555924.1,RefSeq,exon,8354,8575,.,+,.,ncRNA
874,NW_020555924.1,RefSeq,exon,8657,8726,.,+,.,ncRNA
875,NW_020555924.1,RefSeq,exon,8882,9052,.,+,.,ncRNA
119,NW_020555938.1,Both,rRNA,1,5439,5779.0,+,.,rRNA

In [212]:
juntoFinal['attributes'].unique()

array(['misc_feature', 'mRNA', 'ncRNA', 'misc_RNA', 'rRNA', 'Src'],
      dtype=object)

In [213]:
juntoFinal[juntoFinal['source']=='Both']

,seq_id,source,type,start,end,score,strand,phase,attributes
120,NC_001566.1,Both,tRNA,1,16343,32.4,-,.,misc_feature
121,NC_001566.1,Both,rRNA,1,16343,2532.0,-,.,misc_feature
122,NC_001566.1,Both,rRNA,1,16343,1452.0,-,.,misc_feature
0,NC_037638.1,Both,miRNA,1,27754200,58.8,-,.,mRNA
1,NC_037638.1,Both,miRNA,1,27754200,64.7,-,.,mRNA
...,...,...,...,...,...,...,...,...,...
80,NW_020555904.1,Both,rRNA,1,14627,3190.0,-,.,mRNA
81,NW_020555904.1,Both,rRNA,1,14627,3371.0,-,.,mRNA
82,NW_020555904.1,Both,rRNA,1,14627,119.0,-,.,mRNA
83,NW_020555904.1,Both,rRNA,1,14627,1271.9,-,.,mRNA
119,NW_020555938.1,Both,rRNA,1,5439,5779.0,+,.,rRNA

In [217]:
junto2

,seq_id,source_x,type_x,start,end,...,score_y,strand_y,phase_y,attributes_y,_merge
0,NC_037638.1,Infernal,miRNA,138181,138247,...,NaN,NaN,NaN,NaN,left_only
1,NC_037638.1,Infernal,miRNA,139126,139193,...,NaN,NaN,NaN,NaN,left_only
2,NC_037638.1,Infernal,miRNA,139340,139410,...,NaN,NaN,NaN,NaN,left_only
3,NC_037638.1,Infernal,miRNA,139689,139750,...,NaN,NaN,NaN,NaN,left_only
4,NC_037638.1,Infernal,miRNA,140358,140429,...,NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...
71,NW_020555874.1,Infernal,tRNA,19181,19249,...,NaN,NaN,NaN,NaN,left_only
72,NW_020555875.1,Both,ncRNA,21460,22346,...,NaN,NaN,NaN,NaN,left_only
75,NW_020555880.1,Infernal,rRNA,29065,30149,...,NaN,NaN,NaN,NaN,left_only
79,NW_020555902.1,Both,rRNA,13277,15501,...,NaN,NaN,NaN,NaN,left_only
83,NW_020555904.1,Infernal,rRNA,13255,14627,...,NaN,NaN,NaN,NaN,left_only

In [287]:
vitor = pd.read_csv('Insetos/Amellifera/AmelliferaFinal_ResultadoFinal.gff', skiprows=1, sep='\t', names=['seq_id', 'source', 'type', 'start', 'end', 'score', 'strand', 'phase', 'attributes'])
from Bio import SeqIO
from Bio.SeqRecord import SeqRecord

frags=[]
n=0
for record in SeqIO.parse('Insetos/Amellifera/GCF_003254395.2_Amel_HAv3.1_genomic.fna', 'fasta'):
    frags.append(record.id)

seq=[]
for i in range(len(frags)):
    seq.append('Seq_'+str(i+1))
    
df = pd.DataFrame(columns=['seq_id','ID'])
df.ID=frags
df.seq_id = seq
vitorTool = pd.merge(vitor, df, how='inner')
vitorTool['seq_id'] = vitorTool['ID']
vitorTool = vitorTool.drop('ID', axis=1)
vitorTool['source'] = 'VitorTool'
vitorTool
junto = pd.merge(vitorTool, result, how='outer', on=['seq_id','start', 'end'], indicator=True)
junto= junto.sort_values(by=['seq_id', 'start'])
junto2 = junto[junto['_merge']=='left_only']
junto2

,seq_id,source_x,type_x,start,end,...,score_y,strand_y,phase_y,attributes_y,_merge
0,NC_037638.1,VitorTool,miRNA,138181,138247,...,NaN,NaN,NaN,NaN,left_only
1,NC_037638.1,VitorTool,miRNA,139126,139193,...,NaN,NaN,NaN,NaN,left_only
2,NC_037638.1,VitorTool,miRNA,139340,139410,...,NaN,NaN,NaN,NaN,left_only
3,NC_037638.1,VitorTool,miRNA,139689,139750,...,NaN,NaN,NaN,NaN,left_only
4,NC_037638.1,VitorTool,miRNA,140358,140429,...,NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...
71,NW_020555874.1,VitorTool,tRNA,19181,19249,...,NaN,NaN,NaN,NaN,left_only
72,NW_020555875.1,VitorTool,ncRNA,21460,22346,...,NaN,NaN,NaN,NaN,left_only
75,NW_020555880.1,VitorTool,rRNA,29065,30149,...,NaN,NaN,NaN,NaN,left_only
79,NW_020555902.1,VitorTool,rRNA,13277,15501,...,NaN,NaN,NaN,NaN,left_only
83,NW_020555904.1,VitorTool,rRNA,13255,14627,...,NaN,NaN,NaN,NaN,left_only

In [300]:
junto[junto['_merge']=='both']

,seq_id,source_x,type_x,start,end,...,score_y,strand_y,phase_y,attributes_y,_merge
120,NC_001566.1,VitorTool,tRNA,1592,1659,...,.,-,.,tRNA,both
121,NC_001566.1,VitorTool,rRNA,13291,14661,...,.,-,.,rRNA,both
122,NC_001566.1,VitorTool,rRNA,14732,15517,...,.,-,.,rRNA,both
5,NC_037638.1,VitorTool,pre_miRNA,918897,919031,...,.,+,.,precursor_RNA,both
6,NC_037638.1,VitorTool,tRNA,1040884,1040956,...,.,+,.,tRNA,both
...,...,...,...,...,...,...,...,...,...,...,...
78,NW_020555902.1,VitorTool,rRNA,7537,9459,...,.,-,.,rRNA,both
80,NW_020555904.1,VitorTool,rRNA,72,1994,...,.,-,.,rRNA,both
81,NW_020555904.1,VitorTool,rRNA,5820,9848,...,.,-,.,rRNA,both
82,NW_020555904.1,VitorTool,rRNA,11398,11552,...,.,-,.,rRNA,both
119,NW_020555938.1,VitorTool,rRNA,1,3962,...,.,+,.,rRNA,both

In [288]:
junto2 = junto2[['seq_id', 'source_x', 'type_x', 'start', 'end', 'score_x', 'strand_x', 'phase_x', 'attributes_x']]
junto2 = junto2.rename(columns={'source_x':'source', 'type_x':'type', 'score_x':'score', 'strand_x':'strand', 'phase_x' : 'phase', 'attributes_x': 'attributes'})
junto2['source'] = 'VitorTool'
junto2

,seq_id,source,type,start,end,score,strand,phase,attributes
0,NC_037638.1,VitorTool,miRNA,138181,138247,58.8,-,.,id2
1,NC_037638.1,VitorTool,miRNA,139126,139193,64.7,-,.,id3
2,NC_037638.1,VitorTool,miRNA,139340,139410,59.5,-,.,id4
3,NC_037638.1,VitorTool,miRNA,139689,139750,60.3,-,.,id5
4,NC_037638.1,VitorTool,miRNA,140358,140429,66.3,-,.,id6
...,...,...,...,...,...,...,...,...,...
71,NW_020555874.1,VitorTool,tRNA,19181,19249,32.2,+,.,id73
72,NW_020555875.1,VitorTool,ncRNA,21460,22346,1615.0,+,.,id74
75,NW_020555880.1,VitorTool,rRNA,29065,30149,425.1,+,.,id77
79,NW_020555902.1,VitorTool,rRNA,13277,15501,3411.0,-,.,id81
83,NW_020555904.1,VitorTool,rRNA,13255,14627,1271.9,-,.,id85

In [289]:
operacao ='I'
testeFinal1, testeFinal2 = overlaps_blast_infernal(junto2, result)
testeFinal1['score'] = testeFinal1.score.astype('object')
testejuntoFinal = pd.merge(testeFinal1, testeFinal2, how ='outer')
testejuntoFinal = juntoFinal.sort_values(by=['seq_id', 'start'])
testejuntoFinal = testejuntoFinal.drop_duplicates(subset=['seq_id', 'start'])
testejuntoFinal

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\reshape\merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)

,seq_id,source,type,start,end,score,strand,phase,attributes
120,NC_001566.1,Both,tRNA,1,16343,32.4,-,.,misc_feature
0,NC_037638.1,Both,miRNA,1,27754200,58.8,-,.,mRNA
155,NC_037639.1,Both,tRNA,1,16089512,67.6,-,.,mRNA
230,NC_037640.1,Both,rRNA,1,13619445,44.5,-,.,mRNA
300,NC_037641.1,Both,rRNA,1,13404451,1022.0,+,.,ncRNA
...,...,...,...,...,...,...,...,...,...
871,NW_020555924.1,RefSeq,lnc_RNA,7856,9052,.,+,.,ncRNA
873,NW_020555924.1,RefSeq,exon,8354,8575,.,+,.,ncRNA
874,NW_020555924.1,RefSeq,exon,8657,8726,.,+,.,ncRNA
875,NW_020555924.1,RefSeq,exon,8882,9052,.,+,.,ncRNA
119,NW_020555938.1,Both,rRNA,1,5439,5779.0,+,.,rRNA

In [290]:
testejuntoFinal[testejuntoFinal['source']=='Both']

,seq_id,source,type,start,end,score,strand,phase,attributes
120,NC_001566.1,Both,tRNA,1,16343,32.4,-,.,misc_feature
0,NC_037638.1,Both,miRNA,1,27754200,58.8,-,.,mRNA
155,NC_037639.1,Both,tRNA,1,16089512,67.6,-,.,mRNA
230,NC_037640.1,Both,rRNA,1,13619445,44.5,-,.,mRNA
300,NC_037641.1,Both,rRNA,1,13404451,1022.0,+,.,ncRNA
405,NC_037642.1,Both,SRP_RNA,1,13896941,545.0,-,.,mRNA
471,NC_037643.1,Both,ncRNA,1,17789102,791.0,-,.,mRNA
47,NC_037644.1,Both,snoRNA,1,14198698,39.7,+,.,mRNA
84,NC_037645.1,Both,tRNA,1,12717210,69.8,-,.,mRNA
123,NC_037646.1,Both,pre_miRNA,1,12354651,163.0,+,.,mRNA
206,NC_037647.1,Both,Cis-reg,1,12360052,58.7,+,.,mRNA
283,NC_037648.1,Both,miRNA,1,16352600,51.0,-,.,mRNA
346,NC_037649.1,Both,pre_miRNA,1,11514234,239.0,+,.,mRNA
367,NC_037650.1,Both,tRNA,1,11279722,61.9,-,.,mRNA
386,NC_037651.1,Both,pre_miRNA,1,10670842,252.0,-,.,mRNA
426,NC_037652.1,Both,tRNA,1,9534514,154.0,+,.,mRNA
494,NC_037653.1,Both,pre_miRNA,1,7238532,176.0,+,.,mRNA
204,NW_020555812.1,Both,rRNA,1,6719,7430.0,+,.,rRNA
205,NW_020555813.1,Both,rRNA,1,4248,3177.0,+,.,rRNA
299,NW_020555825.1,Both,rRNA,1,3624,3493.0,-,.,Src
404,NW_020555829.1,Both,tRNA,1,23155,32.2,+,.,Src
458,NW_020555841.1,Both,ncRNA,1,73645,1223.0,-,.,ncRNA
459,NW_020555842.1,Both,rRNA,1,60267,2218.0,-,.,ncRNA
464,NW_020555843.1,Both,rRNA,1,44578,120.0,-,.,mRNA
465,NW_020555848.1,Both,ncRNA,1,21229,1212.0,-,.,Src
466,NW_020555850.1,Both,ncRNA,1,18311,763.0,-,.,mRNA
468,NW_020555851.1,Both,rRNA,1,10530,3029.0,-,.,rRNA
488,NW_020555853.1,Both,rRNA,1,5948,5476.0,-,.,rRNA
490,NW_020555855.1,Both,rRNA,1,4502,3411.0,+,.,mRNA
491,NW_020555856.1,Both,rRNA,1,3152,240.2,+,.,Src
492,NW_020555857.1,Both,rRNA,1,3072,3470.0,-,.,Src
493,NW_020555858.1,Both,rRNA,1,2987,1131.0,-,.,Src
520,NW_020555859.1,Both,lncRNA,1,486754,4265.0,+,.,mRNA
524,NW_020555864.1,Both,rRNA,1,92711,146.8,+,.,ncRNA
525,NW_020555870.1,Both,ncRNA,1,52744,1206.0,-,.,mRNA
71,NW_020555874.1,Both,tRNA,1,35193,32.2,+,.,Src
72,NW_020555875.1,Both,ncRNA,1,35070,1615.0,+,.,Src
73,NW_020555880.1,Both,rRNA,1,30149,3177.0,+,.,rRNA
76,NW_020555902.1,Both,rRNA,1,15501,3411.0,-,.,rRNA
80,NW_020555904.1,Both,rRNA,1,14627,3190.0,-,.,mRNA
119,NW_020555938.1,Both,rRNA,1,5439,5779.0,+,.,rRNA

In [296]:
from Bio import SeqIO
from Bio.SeqRecord import SeqRecord

frags=[]
n=0
ident=[]
for record in SeqIO.parse('Insetos/Apis_mellifera.Amel_HAv3.1.ncrna.fa', 'fasta'):
    ident.append(record.id)
    frags.append(record.description.split("gene_biotype:")[1].split(" ")[0])

    
seq=[]
for i in range(len(frags)):
    seq.append('Seq_'+str(i+1))
    
df = pd.DataFrame(columns=['seq_id','ID', 'ncRNA'])
df.ncRNA=frags
df.ID=ident
df.seq_id = seq
df

        seq_id            ID      ncRNA
0        Seq_1  XR_003304762  guide_RNA
1        Seq_2  XR_003306357      snRNA
2        Seq_3  XR_003306355      snRNA
3        Seq_4  XR_003305914      snRNA
4        Seq_5  XR_003305266      snRNA
...        ...           ...        ...
3943  Seq_3944  XR_001704000     lncRNA
3944  Seq_3945  XR_001703171     lncRNA
3945  Seq_3946  XR_003306097     lncRNA
3946  Seq_3947  XR_003305432     lncRNA
3947  Seq_3948  XR_001702096     lncRNA

[3948 rows x 3 columns]

In [313]:
QtdTotalRNA = df['ncRNA'].value_counts(dropna=False, sort=True)
QtdTotalRNA = QtdTotalRNA.to_frame().reset_index()
QtdTotalRNA = QtdTotalRNA.rename(columns= {'index':'ncRNA','ncRNA': 'Ensembl'})
QtdTotalRNA

       ncRNA  Ensembl
0     lncRNA     3146
1  pre_miRNA      264
2      miRNA      222
3       tRNA      218
4       rRNA       57
5      snRNA       26
6     snoRNA       14
7  guide_RNA        1

In [314]:
vitor = pd.read_csv('Insetos/Amellifera/AmelliferaFinal_Tabela_quantidade_ncRNAs.csv', skiprows=1, names=['ncRNA', 'VitorTool'])
vitor

            ncRNA  VitorTool
0            tRNA        202
1       pre_miRNA        103
2            rRNA         80
3           miRNA         34
4          lncRNA         33
5         Cis-reg         23
6           snRNA         20
7          snoRNA         15
8           ncRNA          9
9        splicing          3
10    RNase_P_RNA          2
11           sRNA          1
12        SRP_RNA          1
13  RNase_MRP_RNA          1

In [315]:
dfFim = pd.merge(QtdTotalRNA, vitor, how='outer')
dfFim= dfFim.fillna(0)
dfFim['VitorTool'] = dfFim.VitorTool.astype('int64')
dfFim['Ensembl'] = dfFim.Ensembl.astype('int64')
dfFim

            ncRNA  Ensembl  VitorTool
0          lncRNA     3146         33
1       pre_miRNA      264        103
2           miRNA      222         34
3            tRNA      218        202
4            rRNA       57         80
5           snRNA       26         20
6          snoRNA       14         15
7       guide_RNA        1          0
8         Cis-reg        0         23
9           ncRNA        0          9
10       splicing        0          3
11    RNase_P_RNA        0          2
12           sRNA        0          1
13        SRP_RNA        0          1
14  RNase_MRP_RNA        0          1

In [319]:
vitor = pd.read_csv('Btaurus/BtaurusFina_ResultadoFinal.gff', skiprows=1, sep='\t', names=['seq', 'tool', 'ncRNA', 'start', 'end', 'score', 'strand', '.', 'attr'])
vitor

           seq      tool   ncRNA   start     end   score strand  .     attr
0        Seq_1  Infernal    tRNA  263716  263772    34.8      -  .      id1
1        Seq_1  Infernal    tRNA  358921  358993    31.5      -  .      id2
2        Seq_1     Blast  lncRNA  418684  421060  4176.0      -  .      id3
3        Seq_1  Infernal    rRNA  475398  475516    65.0      +  .      id4
4        Seq_1  Infernal    rRNA  477378  477504    69.3      +  .      id5
...        ...       ...     ...     ...     ...     ...    ... ..      ...
43624  Seq_999     Blast  lncRNA    1323    2396  1709.0      -  .  id43625
43625  Seq_999     Blast  lncRNA    2728    3801  1703.0      -  .  id43626
43626  Seq_999     Blast  lncRNA    8830    9904  1703.0      +  .  id43627
43627  Seq_999     Blast  lncRNA   10236   11311  1688.0      +  .  id43628
43628  Seq_999     Blast  lncRNA   11643   12717  1692.0      +  .  id43629

[43629 rows x 9 columns]

In [320]:
vitor['attr'] = vitor['attr'].str.replace("id", 'ID=id')

In [323]:
vitor.to_csv('Btaurus_ResultadoFinal.gff3', sep='\t',mode='a', index=False, header=False)
    
file = open('Btaurus_ResultadoFinal.gff3', 'r')
lines = file.readlines()
file.close()
lines.insert(0, "##gff-version 3"+'\n')
    
file = open("Btaurus_ResultadoFinal.gff3", 'w')
file.writelines(lines)
file.close()

In [54]:
ecoli = pd.read_csv('RefSeq_mRNA/VitorTool/Ecoli/genomic.gff', sep='\t', skiprows=7, names=['seq_id', 'source', 'type', 'start', 'end', 'score', 'strand', 'phase', 'attributes'])
ecoli = ecoli[:-1]
ecoli = ecoli.dropna()
ecoli['start'] = ecoli.start.astype('int64')
ecoli['end'] = ecoli.end.astype('int64')

ecoli

,seq_id,source,type,start,end,score,strand,phase,attributes
0,NC_002695.2,RefSeq,region,1,5498578,.,+,.,ID=NC_002695.2:1..5498578;Dbxref=taxon:386585;...
1,NC_002695.2,RefSeq,gene,190,273,.,+,.,ID=gene-ECs_0001;Dbxref=GeneID:913387;Name=thr...
2,NC_002695.2,RefSeq,CDS,190,273,.,+,0,ID=cds-NP_308028.1;Parent=gene-ECs_0001;Dbxref...
3,NC_002695.2,RefSeq,gene,354,2816,.,+,.,ID=gene-ECs_0002;Dbxref=GeneID:913388;Name=thr...
4,NC_002695.2,RefSeq,CDS,354,2816,.,+,0,ID=cds-NP_308029.1;Parent=gene-ECs_0002;Dbxref...
...,...,...,...,...,...,...,...,...,...
11057,NC_002128.1,RefSeq,CDS,88855,90576,.,+,0,ID=cds-NP_052688.1;Parent=gene-pO157p81;Dbxref...
11058,NC_002128.1,RefSeq,gene,90650,91648,.,+,.,ID=gene-pO157p82;Dbxref=GeneID:1789687;Name=pO...
11059,NC_002128.1,RefSeq,CDS,90650,91648,.,+,0,ID=cds-NP_052689.1;Parent=gene-pO157p82;Dbxref...
11060,NC_002128.1,RefSeq,gene,92527,95223,.,+,.,ID=gene-pO157p01;Dbxref=GeneID:1789672;Name=ta...
11061,NC_002128.1,RefSeq,CDS,92527,95223,.,+,0,ID=cds-NP_052607.1;Parent=gene-pO157p01;Dbxref...

In [55]:
ecoli2 = ecoli['attributes'].str.split(";", n=-1, expand=True)
ecoli2 = ecoli2[0].str.split("-", n=-1, expand=True)
ecoli2[0] = ecoli2[0].str.replace("ID=", "")
ecoli2

                            0            1     2
0      NC_002695.2:1..5498578         None  None
1                        gene     ECs_0001  None
2                         cds  NP_308028.1  None
3                        gene     ECs_0002  None
4                         cds  NP_308029.1  None
...                       ...          ...   ...
11057                     cds  NP_052688.1  None
11058                    gene     pO157p82  None
11059                     cds  NP_052689.1  None
11060                    gene     pO157p01  None
11061                     cds  NP_052607.1  None

[11058 rows x 3 columns]

In [59]:
ecoli['attributes'] = ecoli2[0]
rna = ecoli[ecoli['attributes']=='rna']

In [62]:
pd.set_option('display.max_rows', None)
rna

,seq_id,source,type,start,end,score,strand,phase,attributes
398,NC_002695.2,RefSeq,rRNA,227106,228643,.,+,.,rna
401,NC_002695.2,RefSeq,tRNA,228713,228789,.,+,.,rna
404,NC_002695.2,RefSeq,tRNA,228832,228907,.,+,.,rna
407,NC_002695.2,RefSeq,rRNA,229093,231992,.,+,.,rna
410,NC_002695.2,RefSeq,rRNA,232090,232200,.,+,.,rna
413,NC_002695.2,RefSeq,tRNA,232258,232334,.,+,.,rna
434,NC_002695.2,RefSeq,tRNA,240482,240558,.,+,.,rna
549,NC_002695.2,RefSeq,tRNA,299983,300058,.,+,.,rna
1170,NC_002695.2,RefSeq,tRNA,657183,657259,.,+,.,rna
1380,NC_002695.2,RefSeq,tRNA,776592,776666,.,-,.,rna
1383,NC_002695.2,RefSeq,tRNA,776704,776778,.,-,.,rna
1386,NC_002695.2,RefSeq,tRNA,776827,776903,.,-,.,rna
1389,NC_002695.2,RefSeq,tRNA,776919,776993,.,-,.,rna
1392,NC_002695.2,RefSeq,tRNA,777028,777102,.,-,.,rna
1395,NC_002695.2,RefSeq,tRNA,777126,777210,.,-,.,rna
1398,NC_002695.2,RefSeq,tRNA,777221,777297,.,-,.,rna
1546,NC_002695.2,RefSeq,tRNA,864980,865055,.,+,.,rna
1549,NC_002695.2,RefSeq,tRNA,865091,865166,.,+,.,rna
1552,NC_002695.2,RefSeq,tRNA,865169,865244,.,+,.,rna
1555,NC_002695.2,RefSeq,tRNA,865296,865371,.,+,.,rna
1558,NC_002695.2,RefSeq,tRNA,865375,865450,.,+,.,rna
1561,NC_002695.2,RefSeq,tRNA,865597,865672,.,+,.,rna
1935,NC_002695.2,RefSeq,tRNA,1056962,1057049,.,-,.,rna
2165,NC_002695.2,RefSeq,tRNA,1179419,1179494,.,+,.,rna
2168,NC_002695.2,RefSeq,tRNA,1179502,1179578,.,+,.,rna
2171,NC_002695.2,RefSeq,tRNA,1179592,1179668,.,+,.,rna
2249,NC_002695.2,RefSeq,tRNA,1210888,1210975,.,-,.,rna
2395,NC_002695.2,RefSeq,tRNA,1266765,1266840,.,+,.,rna
2398,NC_002695.2,RefSeq,tRNA,1266850,1266926,.,+,.,rna
2401,NC_002695.2,RefSeq,tRNA,1266940,1267016,.,+,.,rna
2782,NC_002695.2,RefSeq,tRNA,1456846,1456933,.,-,.,rna
3412,NC_002695.2,RefSeq,tRNA,1732426,1732510,.,-,.,rna
3415,NC_002695.2,RefSeq,tRNA,1732720,1732804,.,-,.,rna
3515,NC_002695.2,RefSeq,tRNA,1774079,1774154,.,+,.,rna
3518,NC_002695.2,RefSeq,tRNA,1774235,1774311,.,+,.,rna
3874,NC_002695.2,RefSeq,tRNA,1940705,1940780,.,+,.,rna
3877,NC_002695.2,RefSeq,tRNA,1940881,1940957,.,+,.,rna
4336,NC_002695.2,RefSeq,tRNA,2189651,2189727,.,-,.,rna
4339,NC_002695.2,RefSeq,tRNA,2189828,2189903,.,-,.,rna
4488,NC_002695.2,RefSeq,tRNA,2240622,2240698,.,-,.,rna
4491,NC_002695.2,RefSeq,tRNA,2240712,2240788,.,-,.,rna
4494,NC_002695.2,RefSeq,tRNA,2240796,2240871,.,-,.,rna
4713,NC_002695.2,RefSeq,tRNA,2346283,2346359,.,+,.,rna
4716,NC_002695.2,RefSeq,tRNA,2346364,2346440,.,+,.,rna
5267,NC_002695.2,RefSeq,tRNA,2614224,2614310,.,-,.,rna
5270,NC_002695.2,RefSeq,tRNA,2614323,2614396,.,-,.,rna
5273,NC_002695.2,RefSeq,tRNA,2614450,2614525,.,-,.,rna
5464,NC_002695.2,RefSeq,tRNA,2697893,2697969,.,-,.,rna
5467,NC_002695.2,RefSeq,tRNA,2697983,2698059,.,-,.,rna
5470,NC_002695.2,RefSeq,tRNA,2698067,2698142,.,-,.,rna
5517,NC_002695.2,RefSeq,tRNA,2712172,2712261,.,-,.,rna
5522,NC_002695.2,RefSeq,tRNA,2713253,2713328,.,+,.,rna
5535,NC_002695.2,RefSeq,tRNA,2727634,2727709,.,-,.,rna
5540,NC_002695.2,RefSeq,tRNA,2729458,2729533,.,+,.,rna
5547,NC_002695.2,RefSeq,tRNA,2731866,2731941,.,+,.,rna
6130,NC_002695.2,RefSeq,tRNA,3021276,3021352,.,+,.,rna
6434,NC_002695.2,RefSeq,tRNA,3193042,3193116,.,+,.,rna
6522,NC_002695.2,RefSeq,tRNA,3244958,3245033,.,-,.,rna
6525,NC_002695.2,RefSeq,tRNA,3245073,3245148,.,-,.,rna
6539,NC_002695.2,RefSeq,tRNA,3249595,3249670,.,+,.,rna
6542,NC_002695.2,RefSeq,tRNA,3249715,3249790,.,+,.,rna
6545,NC_002695.2,RefSeq,tRNA,3249837,3249912,.,+,.,rna
6548,NC_002695.2,RefSeq,tRNA,3249917,3249992,.,+,.,rna
6903,NC_002695.2,RefSeq,rRNA,3446404,3446514,.,-,.,rna
6906,NC_002695.2,RefSeq,rRNA,3446612,3449511,.,-,.,rna
6909,NC_002695.2,RefSeq,tRNA,3449707,3449782,.,-,.,rna
6912,NC_002695.2,RefSeq,rRNA,3449869,3451406,.,-,.,rna
6969,NC_002695.2,RefSeq,tmRNA,3475735,3476097,.,+,.,rna
7042,NC_002695.2,RefSeq,tRNA,3508074,3508149,.,-,.,rna
7115,NC_002695.2,RefSeq,tRNA,3542069,3542145,.,-,.,rna
7118,NC_002695.2,RefSeq,tRNA,3542248,3542324,.,-,.,rna
7121,NC_002695.2,RefSeq,tRNA,3542387,3542463,.,-,.,rna
7124,NC_002695.2,RefSeq,tRNA,3542528,3542604,.,-,.,rna
7127,NC_002695.2,RefSeq,tRNA,3542608,3542700,.,-,.,rna
7366,NC_002695.2,RefSeq,tRNA,3669914,3669990,.,+,.,rna
7369,NC_002695.2,RefSeq,tRNA,3670024,3670100,.,+,.,rna
7372,NC_002695.2,RefSeq,tRNA,3670134,3670210,.,+,.,rna
7505,NC_002695.2,RefSeq,tRNA,3737441,3737514,.,-,.,rna
7717,NC_002695.2,RefSeq,tRNA,3852087,3852162,.,+,.,rna
7925,NC_002695.2,RefSeq,tRNA,3955257,3955332,.,+,.,rna
8133,NC_002695.2,RefSeq,tRNA,4060839,4060915,.,-,.,rna
8140,NC_002695.2,RefSeq,tRNA,4064698,4064784,.,-,.,rna
8321,NC_002695.2,RefSeq,rRNA,4158561,4158671,.,-,.,rna
8324,NC_002695.2,RefSeq,tRNA,4158713,4158788,.,-,.,rna
8327,NC_002695.2,RefSeq,rRNA,4158806,4158916,.,-,.,rna
8330,NC_002695.2,RefSeq,rRNA,4159014,4161913,.,-,.,rna
8333,NC_002695.2,RefSeq,tRNA,4162099,4162174,.,-,.,rna
8336,NC_002695.2,RefSeq,tRNA,4162217,4162293,.,-,.,rna
8339,NC_002695.2,RefSeq,rRNA,4162363,4163900,.,-,.,rna
8900,NC_002695.2,RefSeq,tRNA,4450564,4450640,.,-,.,rna
9123,NC_002695.2,RefSeq,tRNA,4580894,4580988,.,+,.,rna
9436,NC_002695.2,RefSeq,rRNA,4735380,4736917,.,+,.,rna
9439,NC_002695.2,RefSeq,tRNA,4737004,4737079,.,+,.,rna
9442,NC_002695.2,RefSeq,rRNA,4737275,4740176,.,+,.,rna
9445,NC_002695.2,RefSeq,rRNA,4740274,4740384,.,+,.,rna
9448,NC_002695.2,RefSeq,tRNA,4740442,4740518,.,+,.,rna
9451,NC_002695.2,RefSeq,tRNA,4740527,4740602,.,+,.,rna
9520,NC_002695.2,RefSeq,tRNA,4775907,4775983,.,+,.,rna
9523,NC_002695.2,RefSeq,tRNA,4776042,4776117,.,+,.,rna
9526,NC_002695.2,RefSeq,tRNA,4776138,4776224,.,+,.,rna
9529,NC_002695.2,RefSeq,tRNA,4776267,4776341,.,+,.,rna
9532,NC_002695.2,RefSeq,tRNA,4776364,4776450,.,+,.,rna
9535,NC_002695.2,RefSeq,tRNA,4776493,4776569,.,+,.,rna
9638,NC_002695.2,RefSeq,rRNA,4831784,4833321,.,+,.,rna
9641,NC_002695.2,RefSeq,tRNA,4833391,4833467,.,+,.,rna
9644,NC_002695.2,RefSeq,tRNA,4833510,4833585,.,+,.,rna
9647,NC_002695.2,RefSeq,rRNA,4833771,4836672,.,+,.,rna
9650,NC_002695.2,RefSeq,rRNA,4836770,4836880,.,+,.,rna
9896,NC_002695.2,RefSeq,rRNA,4976057,4977594,.,+,.,rna
9899,NC_002695.2,RefSeq,tRNA,4977681,4977756,.,+,.,rna
9902,NC_002695.2,RefSeq,rRNA,4977952,4980853,.,+,.,rna
9905,NC_002695.2,RefSeq,rRNA,4980951,4981061,.,+,.,rna
9914,NC_002695.2,RefSeq,tRNA,4984532,4984607,.,+,.,rna
9917,NC_002695.2,RefSeq,tRNA,4984616,4984700,.,+,.,rna
9920,NC_002695.2,RefSeq,tRNA,4984817,4984891,.,+,.,rna
9923,NC_002695.2,RefSeq,tRNA,4984898,4984973,.,+,.,rna
9982,NC_002695.2,RefSeq,rRNA,5017083,5018620,.,+,.,rna
9985,NC_002695.2,RefSeq,tRNA,5018707,5018782,.,+,.,rna
9988,NC_002695.2,RefSeq,rRNA,5018978,5021879,.,+,.,rna
9991,NC_002695.2,RefSeq,rRNA,5021977,5022087,.,+,.,rna
10371,NC_002695.2,RefSeq,tRNA,5217129,5217204,.,-,.,rna
10430,NC_002695.2,RefSeq,tRNA,5246212,5246287,.,+,.,rna
10433,NC_002695.2,RefSeq,tRNA,5246324,5246399,.,+,.,rna
10436,NC_002695.2,RefSeq,tRNA,5246435,5246510,.,+,.,rna
10632,NC_002695.2,RefSeq,tRNA,5347126,5347210,.,+,.,rna
10807,NC_002695.2,RefSeq,tRNA,5464566,5464652,.,-,.,rna

In [23]:
ecoli2[0].value_counts()

gene                      5417
cds                       5156
id                         230
rna                        126
exon                       126
NC_002695.2:1..5498578       1
NC_002127.1:1..3306          1
NC_002128.1:1..92721         1
Name: 0, dtype: int64

In [25]:
ecoli2[ecoli2[0] == 'id']

        0                           1     2
36     id                    ECs_0019  None
453    id                    ECs_0219  None
486    id  NC_002695.2:272534..273799  None
495    id  NC_002695.2:276083..277387  None
517    id                    ECs_0255  None
...    ..                         ...   ...
10878  id         NC_002127.1:1..3306  None
10888  id        NC_002128.1:1..92721  None
10957  id    NC_002128.1:32004..32249  None
11018  id    NC_002128.1:66314..67729  None
11043  id    NC_002128.1:75270..75650  None

[230 rows x 3 columns]

In [51]:
find = pd.read_csv('RefSeq_mRNA/FindNonCoding/Ecoli/Ecoli.csv', names=['index', 'seq', 'strand', 'Begin', 'End', 'TotalScore', 'gene'], skiprows=1)
find['source'] ='FindNonCoding'
find['attributes'] = "ID="
new = find['index'].copy()
new2 = [str(x) for x in new]
find['attributes'] = find['attributes'].str.cat(new2, sep ="")
find['strand'] = find['strand'].replace(1, '+')
find['strand'] = find['strand'].replace(0, '-')
find

,index,seq,strand,Begin,End,TotalScore,gene,source,attributes
0,1,NC_002695.2,+,80332,80430,37.526054,Riboswitch,FindNonCoding,ID=1
1,2,NC_002695.2,-,228713,228786,33.552624,tRNA,FindNonCoding,ID=2
2,3,NC_002695.2,-,228831,228905,46.358386,tRNA,FindNonCoding,ID=3
3,4,NC_002695.2,-,229250,232388,85.655614,rRNA,FindNonCoding,ID=4
4,5,NC_002695.2,-,240481,240555,39.330519,tRNA,FindNonCoding,ID=5
...,...,...,...,...,...,...,...,...,...
97,98,NC_002695.2,+,5217132,5217204,39.186902,tRNA,FindNonCoding,ID=98
98,99,NC_002695.2,-,5246212,5246284,41.095353,tRNA,FindNonCoding,ID=99
99,100,NC_002695.2,-,5246323,5246396,41.196627,tRNA,FindNonCoding,ID=100
100,101,NC_002695.2,-,5246434,5246507,41.226311,tRNA,FindNonCoding,ID=101
101,102,NC_002695.2,+,5464569,5464652,30.687795,tRNA,FindNonCoding,ID=102

In [52]:
final = find[['seq', 'source', 'gene', 'Begin', 'End', 'TotalScore', 'strand', 'index', 'attributes']]
final

,seq,source,gene,Begin,End,TotalScore,strand,index,attributes
0,NC_002695.2,FindNonCoding,Riboswitch,80332,80430,37.526054,+,1,ID=1
1,NC_002695.2,FindNonCoding,tRNA,228713,228786,33.552624,-,2,ID=2
2,NC_002695.2,FindNonCoding,tRNA,228831,228905,46.358386,-,3,ID=3
3,NC_002695.2,FindNonCoding,rRNA,229250,232388,85.655614,-,4,ID=4
4,NC_002695.2,FindNonCoding,tRNA,240481,240555,39.330519,-,5,ID=5
...,...,...,...,...,...,...,...,...,...
97,NC_002695.2,FindNonCoding,tRNA,5217132,5217204,39.186902,+,98,ID=98
98,NC_002695.2,FindNonCoding,tRNA,5246212,5246284,41.095353,-,99,ID=99
99,NC_002695.2,FindNonCoding,tRNA,5246323,5246396,41.196627,-,100,ID=100
100,NC_002695.2,FindNonCoding,tRNA,5246434,5246507,41.226311,-,101,ID=101
101,NC_002695.2,FindNonCoding,tRNA,5464569,5464652,30.687795,+,102,ID=102

In [53]:
nameI = "RefSeq_mRNA/FindNonCoding/Ecoli/Ecoli"
final.to_csv(nameI+'_ResultadoFinal.gff', sep='\t',mode='a', index=False, header=False)
    
file = open(nameI+'_ResultadoFinal.gff', 'r')
lines = file.readlines()
file.close()
lines.insert(0, "##gff-version 3"+'\n')
    
file = open(nameI+"_ResultadoFinal.gff", 'w')
file.writelines(lines)
file.close()

In [2]:
ncbi = ncbi = pd.read_csv('ApisEnsembl/compare/Apis_mellifera.Amel_HAv3.1.56.gff3', sep='\t', comment="#", names=['seq_id', 'source', 'type', 'start', 'end', 'score', 'strand', 'phase', 'attributes'])
ncbi = ncbi.dropna()
ncbi['start'] = ncbi.start.astype('int64')
ncbi['end'] = ncbi.end.astype('int64')
ncbi

,seq_id,source,type,start,end,score,strand,phase,attributes
0,CM009931.2,Amel_HAv3.1,region,1,27754200,.,.,.,"ID=region:CM009931.2;Alias=NC_037638,LG1,Group..."
1,CM009931.2,RefSeq,gene,9273,12174,.,-,.,ID=gene:LOC551580;biotype=protein_coding;descr...
2,CM009931.2,RefSeq,mRNA,9273,12174,.,-,.,ID=transcript:XM_623972;Parent=gene:LOC551580;...
3,CM009931.2,RefSeq,three_prime_UTR,9273,9477,.,-,.,Parent=transcript:XM_623972
4,CM009931.2,RefSeq,exon,9273,9546,.,-,.,Parent=transcript:XM_623972;Name=XM_623972.6-E...
...,...,...,...,...,...,...,...,...,...
596838,QIUM02000224.1,Amel_HAv3.1,region,1,3152,.,.,.,"ID=region:QIUM02000224.1;Alias=NW_020555856,Gr..."
596839,QIUM02000225.1,Amel_HAv3.1,region,1,3072,.,.,.,"ID=region:QIUM02000225.1;Alias=NW_020555857,Gr..."
596840,QIUM02000226.1,Amel_HAv3.1,region,1,2987,.,.,.,"ID=region:QIUM02000226.1;Alias=NW_020555858,Gr..."
596841,QIUM02000227.1,Amel_HAv3.1,region,1,2376,.,.,.,"ID=region:QIUM02000227.1;Alias=NW_020555946,Gr..."
596842,QIUM02000228.1,Amel_HAv3.1,region,1,2302,.,.,.,"ID=region:QIUM02000228.1;Alias=NW_020555947,Gr..."

In [3]:
ncbi2 = ncbi['attributes'].str.split(";", n=-1, expand=True)
ncbi3 = ncbi2[0].str.split(":", n=-1, expand=True)
ncbi3

                        0               1     2
0               ID=region      CM009931.2  None
1                 ID=gene       LOC551580  None
2           ID=transcript       XM_623972  None
3       Parent=transcript       XM_623972  None
4       Parent=transcript       XM_623972  None
...                   ...             ...   ...
596838          ID=region  QIUM02000224.1  None
596839          ID=region  QIUM02000225.1  None
596840          ID=region  QIUM02000226.1  None
596841          ID=region  QIUM02000227.1  None
596842          ID=region  QIUM02000228.1  None

[596843 rows x 3 columns]

In [4]:
ncbi['attributes']=ncbi3[1]
ncbi

,seq_id,source,type,start,end,score,strand,phase,attributes
0,CM009931.2,Amel_HAv3.1,region,1,27754200,.,.,.,CM009931.2
1,CM009931.2,RefSeq,gene,9273,12174,.,-,.,LOC551580
2,CM009931.2,RefSeq,mRNA,9273,12174,.,-,.,XM_623972
3,CM009931.2,RefSeq,three_prime_UTR,9273,9477,.,-,.,XM_623972
4,CM009931.2,RefSeq,exon,9273,9546,.,-,.,XM_623972
...,...,...,...,...,...,...,...,...,...
596838,QIUM02000224.1,Amel_HAv3.1,region,1,3152,.,.,.,QIUM02000224.1
596839,QIUM02000225.1,Amel_HAv3.1,region,1,3072,.,.,.,QIUM02000225.1
596840,QIUM02000226.1,Amel_HAv3.1,region,1,2987,.,.,.,QIUM02000226.1
596841,QIUM02000227.1,Amel_HAv3.1,region,1,2376,.,.,.,QIUM02000227.1
596842,QIUM02000228.1,Amel_HAv3.1,region,1,2302,.,.,.,QIUM02000228.1

In [11]:
ncbi[ncbi['type']=='ncRNA_gene']

,seq_id,source,type,start,end,score,strand,phase,attributes
323,CM009931.2,RefSeq,ncRNA_gene,86674,88128,.,-,.,LOC107964068
347,CM009931.2,RefSeq,ncRNA_gene,97814,98760,.,-,.,LOC107964063
897,CM009931.2,RefSeq,ncRNA_gene,138173,138256,.,-,.,GeneID_732506
902,CM009931.2,RefSeq,ncRNA_gene,139117,139205,.,-,.,GeneID_732505
907,CM009931.2,RefSeq,ncRNA_gene,139122,139199,.,+,.,GeneID_104796173
...,...,...,...,...,...,...,...,...,...
596756,QIUM02000194.1,RefSeq,ncRNA_gene,7288,9052,.,+,.,LOC113219386
596801,QIUM02000208.1,RefSeq,ncRNA_gene,1432,5454,.,+,.,LOC113219340
596809,QIUM02000210.1,RefSeq,ncRNA_gene,5408,5560,.,-,.,LOC113219356
596812,QIUM02000211.1,RefSeq,ncRNA_gene,1,3962,.,+,.,LOC113219387
596831,QIUM02000219.1,RefSeq,ncRNA_gene,2142,4064,.,+,.,LOC113219341

In [30]:
teste = ncbi.index[ncbi['type']=='ncRNA_gene'].tolist()
teste

[323,
 347,
 897,
 902,
 907,
 912,
 917,
 922,
 927,
 2623,
 2653,
 2682,
 2744,
 2842,
 2933,
 2983,
 3006,
 3010,
 3117,
 3160,
 3165,
 3170,
 3180,
 3185,
 3189,
 3273,
 3337,
 3340,
 3345,
 3373,
 3826,
 3835,
 3851,
 3940,
 4083,
 4236,
 4296,
 4301,
 4310,
 4401,
 4406,
 4410,
 4415,
 4420,
 4435,
 4441,
 4526,
 4529,
 5437,
 5826,
 7181,
 7424,
 7478,
 7482,
 7594,
 8506,
 8515,
 8648,
 8655,
 8659,
 8664,
 8674,
 8683,
 8851,
 9189,
 10366,
 10422,
 10427,
 10510,
 11611,
 11615,
 11620,
 11625,
 11630,
 11636,
 11668,
 11739,
 12258,
 12263,
 12381,
 12394,
 12417,
 13005,
 13344,
 13471,
 13475,
 13947,
 13951,
 13956,
 13961,
 13992,
 14015,
 14199,
 14238,
 14381,
 14511,
 14694,
 14951,
 14974,
 15046,
 15117,
 15467,
 15472,
 15481,
 15485,
 15569,
 15785,
 15796,
 15823,
 15827,
 15831,
 15835,
 16039,
 16044,
 16418,
 16422,
 16487,
 16499,
 16521,
 16526,
 17604,
 19298,
 19302,
 19308,
 19319,
 19370,
 19379,
 19507,
 19743,
 19748,
 20007,
 20114,
 20148,
 20152,
 20158,
 20809,
 20935,
 21058,
 21063,
 21079,
 21084,
 21582,
 21872,
 21993,
 21997,
 22002,
 22007,
 22015,
 22019,
 23980,
 23983,
 24304,
 24309,
 24314,
 24320,
 24361,
 24404,
 24978,
 24982,
 25319,
 25364,
 25464,
 28944,
 28949,
 29702,
 29719,
 29767,
 29772,
 30031,
 30199,
 30212,
 30222,
 30226,
 30231,
 30277,
 32580,
 32607,
 32635,
 32640,
 33664,
 33673,
 33841,
 33855,
 33891,
 34212,
 34965,
 35438,
 36122,
 36147,
 36151,
 36299,
 36394,
 36473,
 36533,
 36898,
 36902,
 36906,
 36909,
 36913,
 36932,
 37034,
 37102,
 37257,
 37262,
 37266,
 38264,
 38444,
 39412,
 40089,
 40594,
 40733,
 43789,
 44113,
 45022,
 45706,
 46002,
 46541,
 46989,
 47331,
 47392,
 47402,
 47772,
 47967,
 47971,
 47976,
 47981,
 48140,
 48776,
 49108,
 51294,
 51490,
 52550,
 53225,
 55204,
 55773,
 56055,
 56060,
 56065,
 56251,
 56983,
 57207,
 57211,
 57760,
 57924,
 58408,
 58413,
 59973,
 60198,
 60561,
 60815,
 61128,
 61354,
 62788,
 62864,
 63059,
 63063,
 63653,
 63657,
 63710,
 64948,
 66004,
 67917,
 67922,
 68025,
 69279,
 69496,
 69501,
 69878,
 69883,
 72278,
 72480,
 72592,
 72704,
 73026,
 73031,
 73256,
 73277,
 73456,
 73566,
 73570,
 73797,
 74266,
 75467,
 75794,
 75799,
 75809,
 75814,
 75818,
 76540,
 76763,
 76805,
 76817,
 76883,
 76986,
 77200,
 78396,
 78401,
 79028,
 79062,
 79079,
 79496,
 80455,
 80460,
 80467,
 80473,
 80544,
 80574,
 80690,
 82008,
 82086,
 82437,
 83255,
 83260,
 83265,
 83383,
 83463,
 83468,
 83769,
 83907,
 83911,
 83915,
 84374,
 84379,
 84407,
 86097,
 86266,
 86314,
 86743,
 88160,
 88166,
 88171,
 88582,
 88922,
 88946,
 89303,
 89767,
 90116,
 90414,
 90459,
 90463,
 90554,
 90558,
 90662,
 90722,
 90756,
 90978,
 91158,
 91308,
 91481,
 91498,
 91540,
 91618,
 92643,
 92867,
 93000,
 93005,
 93457,
 93460,
 93463,
 93466,
 93469,
 93472,
 93475,
 93478,
 93481,
 93550,
 93555,
 93685,
 93688,
 93691,
 93694,
 93697,
 93700,
 93703,
 93706,
 93710,
 93713,
 93821,
 93826,
 93915,
 94048,
 94203,
 94208,
 94213,
 94308,
 95251,
 95489,
 97615,
 97633,
 97656,
 98802,
 100006,
 101062,
 102398,
 102586,
 102641,
 104146,
 104552,
 104668,
 104672,
 104684,
 105633,
 106221,
 106225,
 106230,
 106245,
 106378,
 106975,
 107127,
 107168,
 107580,
 107848,
 108479,
 108484,
 108862,
 109428,
 109505,
 109549,
 110036,
 110630,
 110635,
 110639,
 110836,
 110857,
 111062,
 111278,
 111975,
 126238,
 126619,
 126623,
 126660,
 128271,
 131782,
 132109,
 132114,
 134012,
 134399,
 134404,
 134693,
 134716,
 134719,
 134722,
 134725,
 134728,
 135168,
 135171,
 135174,
 135177,
 135260,
 135263,
 135266,
 135269,
 135272,
 135275,
 135278,
 135281,
 135284,
 135287,
 135290,
 135293,
 135296,
 135299,
 135302,
 135305,
 135311,
 135429,
 135447,
 136398,
 136402,
 136414,
 136461,
 136493,
 136642,
 137114,
 137127,
 137130,
 137276,
 139865,
 139925,
 139928,
 139934,
 139939,
 139948,
 140065,
 140113,
 140118,
 140134,
 140139,
 140170,
 140175,
 140195,
 140262,
 140287,
 140292,
 140305,
 140414,
 140418,
 140422,
 140426,
 140592,
 140596,
 140790,
 140916,
 141474,
 141507,
 141515,
 141938,
 142020,
 142309,
 142746,
 142804,
 142820,
 142844,
 143012,
 143024,
 143040,
 143071,
 143153,
 143538,
 144330,
 144334,
 144388,
 144838,
 146360,
 146613,
 146622,
 146742,
 146751,
 146794,
 146825,
 146848,
 146920,
 146962,
 147131,
 147306,
 147387,
 148224,
 148229,
 148484,
 148488,
 148737,
 149095,
 149232,
 150607,
 151013,
 151291,
 151297,
 151578,
 151936,
 151941,
 154912,
 154917,
 154996,
 155225,
 155275,
 155454,
 155798,
 156045,
 156254,
 156302,
 156589,
 157050,
 157085,
 157090,
 157095,
 157629,
 158621,
 158796,
 159518,
 160395,
 160398,
 160401,
 160406,
 160457,
 160462,
 160467,
 161000,
 161005,
 161121,
 161135,
 161138,
 161261,
 161523,
 161537,
 162260,
 163088,
 163702,
 163705,
 163834,
 164067,
 164563,
 165205,
 165215,
 166208,
 166211,
 167301,
 167305,
 167488,
 167492,
 167497,
 167749,
 167754,
 167758,
 167871,
 167875,
 167880,
 167884,
 167889,
 167976,
 167980,
 168036,
 168069,
 168331,
 168336,
 168341,
 168494,
 168550,
 168661,
 168707,
 168712,
 168907,
 169028,
 169123,
 169266,
 169393,
 169468,
 169499,
 169605,
 169635,
 169652,
 169748,
 169838,
 169951,
 170114,
 170154,
 170426,
 170537,
 170808,
 170884,
 171037,
 171041,
 171601,
 171604,
 173024,
 173602,
 173803,
 173812,
 173824,
 173866,
 174892,
 175080,
 175164,
 176126,
 176253,
 176301,
 176548,
 176560,
 176565,
 177726,
 177744,
 178509,
 178551,
 179453,
 179464,
 179496,
 179623,
 179640,
 180306,
 180311,
 180317,
 180322,
 180327,
 180332,
 180357,
 180420,
 180854,
 180857,
 180862,
 180865,
 180868,
 180876,
 180880,
 180883,
 180906,
 181782,
 181981,
 181984,
 181988,
 182134,
 182143,
 182146,
 182149,
 182327,
 182330,
 184139,
 184143,
 184160,
 184728,
 184744,
 184776,
 186149,
 187154,
 187629,
 187632,
 187657,
 187661,
 187664,
 187856,
 188027,
 188036,
 188039,
 188042,
 188045,
 188048,
 188051,
 188054,
 188057,
 188060,
 188288,
 188293,
 188494,
 189566,
 189585,
 189590,
 190138,
 190141,
 190144,
 190147,
 190150,
 190153,
 190156,
 190168,
 190312,
 190317,
 190345,
 190349,
 191234,
 191259,
 191358,
 191371,
 191376,
 191388,
 191558,
 191709,
 191808,
 191924,
 192770,
 193004,
 193008,
 193265,
 193270,
 194810,
 196670,
 196674,
 196737,
 197734,
 197849,
 197853,
 197857,
 197862,
 199222,
 203869,
 203966,
 204093,
 204509,
 204538,
 208083,
 208718,
 208829,
 208833,
 208837,
 208841,
 208914,
 208918,
 209719,
 210735,
 211877,
 212485,
 213456,
 213743,
 213866,
 214065,
 215277,
 215639,
 216246,
 216417,
 216461,
 216948,
 216986,
 216992,
 216996,
 217411,
 217493,
 217496,
 217704,
 217823,
 218054,
 218070,
 218267,
 218491,
 218522,
 218528,
 218577,
 218652,
 218781,
 218787,
 218838,
 219059,
 219072,
 219078,
 219085,
 220576,
 220581,
 220585,
 220589,
 221014,
 221074,
 221818,
 222371,
 222377,
 222381,
 222404,
 222408,
 224315,
 224398,
 224687,
 224692,
 224704,
 224708,
 225513,
 225518,
 225524,
 225614,
 225630,
 225876,
 225881,
 225940,
 225945,
 225949,
 225954,
 225959,
 226276,
 226281,
 226505,
 227139,
 227215,
 228400,
 228770,
 228802,
 229312,
 230530,
 230658,
 230663,
 231064,
 233172,
 233440,
 233464,
 233548,
 233571,
 233575,
 233705,
 234043,
 234057,
 234185,
 234227,
 234239,
 234775,
 234860,
 235085,
 235318,
 236702,
 236996,
 237427,
 237715,
 237807,
 240739,
 240744,
 240952,
 240958,
 241550,
 241554,
 241558,
 242322,
 242801,
 243233,
 243237,
 243242,
 243247,
 243251,
 243269,
 243479,
 243694,
 243864,
 243884,
 244476,
 244497,
 245019,
 245057,
 245957,
 245989,
 246035,
 246138,
 246179,
 246707,
 247200,
 247280,
 247505,
 249626,
 249631,
 250049,
 250392,
 250912,
 251692,
 252385,
 252847,
 252958,
 252986,
 254075,
 254080,
 254395,
 254411,
 254589,
 254593,
 254697,
 254719,
 254792,
 255182,
 255335,
 255362,
 255482,
 255599,
 255640,
 256858,
 256881,
 256891,
 256896,
 256943,
 256947,
 256951,
 257354,
 257359,
 257500,
 257512,
 257533,
 258021,
 258224,
 258861,
 258966,
 258971,
 259077,
 259082,
 259086,
 259097,
 259432,
 260341,
 260345,
 260349,
 260356,
 260361,
 260414,
 260443,
 260447,
 260452,
 261083,
 261245,
 261252,
 261749,
 261800,
 261804,
 261808,
 261812,
 262239,
 262273,
 262460,
 262470,
 262520,
 262539,
 262555,
 262560,
 262578,
 262718,
 262722,
 262729,
 263193,
 263226,
 263231,
 263236,
 263449,
 263454,
 263462,
 263475,
 263479,
 264086,
 264092,
 264116,
 264289,
 264294,
 264364,
 264368,
 264376,
 ...]

In [39]:
j=0
for i in teste:
    teste[j]=i+1
    j+=1

In [43]:
res = ncbi.loc[teste]
res['type'].value_counts()

lnc_RNA      1858
pre_miRNA     237
tRNA          218
rRNA           57
snRNA          26
snoRNA         14
guide_RNA       1
miRNA           1
Name: type, dtype: int64

In [11]:
vitorTool = pd.read_csv('ApisEnsembl/compare/Arrumado_ApisEnsemblFinal_ResultadoFinal.gff', sep="\t", comment="#", names=['seq_id', 'source', 'type', 'start', 'end', 'score', 'strand', 'phase', 'attributes'])
vitorTool

,seq_id,source,type,start,end,score,strand,phase,attributes
0,QIUM02000069.1,Blast,lncRNA,14543,16851,4265.0,+,.,ID=id1
1,QIUM02000069.1,Both,tRNA,69980,70051,134.0,+,.,ID=id2
2,QIUM02000069.1,Both,pre_miRNA,228877,229013,254.0,-,.,ID=id3
3,QIUM02000069.1,Blast,pre_miRNA,229034,229169,252.0,-,.,ID=id4
4,QIUM02000185.1,Both,rRNA,2576,6604,3029.0,-,.,ID=id5
...,...,...,...,...,...,...,...,...,...
537,QIUM02000157.1,Both,rRNA,13277,15501,3411.0,-,.,ID=id538
538,QIUM02000161.1,Both,rRNA,72,1994,3190.0,-,.,ID=id539
539,QIUM02000161.1,Both,rRNA,5820,9848,3371.0,-,.,ID=id540
540,QIUM02000161.1,Infernal,rRNA,11398,11552,119.0,-,.,ID=id541
541,QIUM02000161.1,Infernal,rRNA,13255,14627,1271.9,-,.,ID=id542

In [58]:
gffCompare = pd.read_csv('ApisEnsembl/compare/result', sep='\t', names=[1,2,3,4,5,6,7,8,9,10,11])
gffCompare[3]=gffCompare[3].str.replace('transcript:','')
gffCompare[2]=gffCompare[2].str.replace(r'\..*', '')
gffCompare[3]=gffCompare[3].str.replace(r'\:.*', '')
gffCompare

C:\Users\vitor\AppData\Local\Temp\ipykernel_16196\652059966.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  gffCompare[2]=gffCompare[2].str.replace(r'\..*', '')
C:\Users\vitor\AppData\Local\Temp\ipykernel_16196\652059966.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  gffCompare[3]=gffCompare[3].str.replace(r'\:.*', '')

,1,2,3,4,5,6,7,8,9,10,11
0,id1,QIUM02000069,XR_001706316,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,id2,QIUM02000069,GeneID_107965769_t1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,id3,QIUM02000069,NR_039429,transcript:GeneID_100629076_t1:100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,id4,QIUM02000069,NR_039535,transcript:GeneID_100629120_t1:100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,id5,QIUM02000185,XR_003306400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
437,id538,QIUM02000157,LOC113219379_df_pt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
438,id539,QIUM02000161,XR_003306453,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
439,id540,QIUM02000161,XR_003306454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
440,id541,QIUM02000161,XR_003306452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
441,id542,QIUM02000161,XM_026446000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
ncbiFinal = ncbi[['attributes', 'type']]
ncbiFinal = ncbiFinal[ncbiFinal['type']!='exon']


dici = dict(ncbiFinal.values)
dici

{'CM009931.2': 'region',
 'LOC551580': 'gene',
 'XM_623972': 'five_prime_UTR',
 'XP_623975': 'CDS',
 'XR_001705490': 'mRNA',
 'XR_001705491': 'mRNA',
 'LOC551555': 'gene',
 'XM_006557405': 'three_prime_UTR',
 'XP_006557468': 'CDS',
 'XM_006557404': 'three_prime_UTR',
 'XP_006557467': 'CDS',
 'XM_006557406': 'three_prime_UTR',
 'XP_006557469': 'CDS',
 'XM_623949': 'three_prime_UTR',
 'XP_623952': 'CDS',
 'LOC726347': 'gene',
 'XM_026446303': 'five_prime_UTR',
 'XP_026302088': 'CDS',
 'GeneID_409940': 'gene',
 'XM_026439913': 'three_prime_UTR',
 'XP_026295698': 'CDS',
 'NM_001242554': 'three_prime_UTR',
 'NP_001229483': 'CDS',
 'LOC726145': 'gene',
 'XM_016917677': 'five_prime_UTR',
 'XP_016773166': 'CDS',
 'XM_016917679': 'five_prime_UTR',
 'XP_016773168': 'CDS',
 'LOC551448': 'gene',
 'XM_016917662': 'three_prime_UTR',
 'XP_016773151': 'CDS',
 'XM_026440071': 'three_prime_UTR',
 'XP_026295856': 'CDS',
 'XM_016917667': 'three_prime_UTR',
 'XP_016773156': 'CDS',
 'XM_006557400': 'three_prime_UTR',
 'XP_006557463': 'CDS',
 'XM_016917672': 'three_prime_UTR',
 'XP_016773161': 'CDS',
 'LOC410665': 'gene',
 'XM_394142': 'five_prime_UTR',
 'XP_394142': 'CDS',
 'LOC408567': 'gene',
 'XM_392111': 'three_prime_UTR',
 'XP_392111': 'CDS',
 'LOC107964061': 'gene',
 'XM_016910856': 'three_prime_UTR',
 'XP_016766345': 'CDS',
 'XM_016910851': 'three_prime_UTR',
 'XP_016766340': 'CDS',
 'LOC107964068': 'ncRNA_gene',
 'XR_001702207': 'lnc_RNA',
 'LOC113219112': 'gene',
 'XM_026443867': 'three_prime_UTR',
 'XP_026299652': 'CDS',
 'LOC726450': 'gene',
 'XM_006557392': 'three_prime_UTR',
 'XP_006557455': 'CDS',
 'LOC107964063': 'ncRNA_gene',
 'XR_001702201': 'lnc_RNA',
 'LOC113219111': 'gene',
 'XM_026443863': 'five_prime_UTR',
 'XP_026299648': 'CDS',
 'LOC410664': 'gene',
 'XM_006557388': 'five_prime_UTR',
 'XP_006557451': 'CDS',
 'XM_394141': 'five_prime_UTR',
 'XP_394141': 'CDS',
 'XM_026443894': 'five_prime_UTR',
 'XP_026299679': 'CDS',
 'XM_006557389': 'five_prime_UTR',
 'XP_006557452': 'CDS',
 'LOC408565': 'gene',
 'XM_392109': 'five_prime_UTR',
 'XP_392109': 'CDS',
 'XM_006557391': 'three_prime_UTR',
 'XP_006557454': 'CDS',
 'XM_016910832': 'three_prime_UTR',
 'XP_016766321': 'CDS',
 'LOC410663': 'gene',
 'XM_394140': 'five_prime_UTR',
 'XP_394140': 'CDS',
 'XM_006557387': 'five_prime_UTR',
 'XP_006557450': 'CDS',
 'LOC113219398': 'gene',
 'XM_026446104': 'three_prime_UTR',
 'XP_026301889': 'CDS',
 'LOC726544': 'gene',
 'XM_016910810': 'five_prime_UTR',
 'XP_016766299': 'CDS',
 'XM_006557385': 'five_prime_UTR',
 'XP_006557448': 'CDS',
 'XM_006557379': 'five_prime_UTR',
 'XP_006557442': 'CDS',
 'XM_006557384': 'five_prime_UTR',
 'XP_006557447': 'CDS',
 'XM_006557382': 'five_prime_UTR',
 'XP_006557445': 'CDS',
 'XM_006557383': 'five_prime_UTR',
 'XP_006557446': 'CDS',
 'XM_006557386': 'five_prime_UTR',
 'XP_006557449': 'CDS',
 'XM_006557381': 'five_prime_UTR',
 'XP_006557444': 'CDS',
 'XM_001122271': 'five_prime_UTR',
 'XP_001122271': 'CDS',
 'XM_006557380': 'five_prime_UTR',
 'XP_006557443': 'CDS',
 'XM_016910803': 'five_prime_UTR',
 'XP_016766292': 'CDS',
 'XM_006557376': 'five_prime_UTR',
 'XP_006557439': 'CDS',
 'XM_016910793': 'five_prime_UTR',
 'XP_016766282': 'CDS',
 'GeneID_732506': 'ncRNA_gene',
 'NR_031523': 'pre_miRNA',
 'GeneID_732506_t1': 'miRNA',
 'GeneID_732505': 'ncRNA_gene',
 'NR_031522': 'pre_miRNA',
 'GeneID_732505_t1': 'miRNA',
 'GeneID_104796173': 'ncRNA_gene',
 'NR_127369': 'pre_miRNA',
 'GeneID_104796173_t1': 'miRNA',
 'GeneID_100315690': 'ncRNA_gene',
 'NR_034307': 'pre_miRNA',
 'GeneID_100315690_t1': 'miRNA',
 'GeneID_100315660': 'ncRNA_gene',
 'NR_034285': 'pre_miRNA',
 'GeneID_100315660_t1': 'miRNA',
 'GeneID_100315662': 'ncRNA_gene',
 'NR_034287': 'pre_miRNA',
 'GeneID_100315662_t1': 'miRNA',
 'GeneID_100315669': 'ncRNA_gene',
 'NR_034296': 'pre_miRNA',
 'GeneID_100315669_t1': 'miRNA',
 'LOC410772': 'gene',
 'XR_003305810': 'mRNA',
 'XM_394248': 'five_prime_UTR',
 'XP_394248': 'CDS',
 'XM_026444102': 'five_prime_UTR',
 'XP_026299887': 'CDS',
 'LOC551203': 'gene',
 'XM_026446225': 'three_prime_UTR',
 'XP_026302010': 'CDS',
 'XM_026446227': 'three_prime_UTR',
 'XP_026302012': 'CDS',
 'XM_026446230': 'three_prime_UTR',
 'XP_026302015': 'CDS',
 'XM_026446229': 'three_prime_UTR',
 'XP_026302014': 'CDS',
 'XM_026446228': 'three_prime_UTR',
 'XP_026302013': 'CDS',
 'XM_026446233': 'three_prime_UTR',
 'XP_026302018': 'CDS',
 'XM_026446237': 'three_prime_UTR',
 'XP_026302022': 'CDS',
 'XM_026446226': 'three_prime_UTR',
 'XP_026302011': 'CDS',
 'XM_026446232': 'three_prime_UTR',
 'XP_026302017': 'CDS',
 'XM_026446234': 'three_prime_UTR',
 'XP_026302019': 'CDS',
 'XM_026446235': 'three_prime_UTR',
 'XP_026302020': 'CDS',
 'XM_026446236': 'three_prime_UTR',
 'XP_026302021': 'CDS',
 'XM_026446231': 'three_prime_UTR',
 'XP_026302016': 'CDS',
 'LOC100578621': 'gene',
 'XM_026446242': 'five_prime_UTR',
 'XP_026302027': 'CDS',
 'XM_026446240': 'five_prime_UTR',
 'XP_026302025': 'CDS',
 'XM_016910677': 'five_prime_UTR',
 'XP_016766166': 'CDS',
 'XM_026446239': 'five_prime_UTR',
 'XP_026302024': 'CDS',
 'XM_026446241': 'five_prime_UTR',
 'XP_026302026': 'CDS',
 'LOC726446': 'gene',
 'XM_001120565': 'three_prime_UTR',
 'XP_001120565': 'CDS',
 'LOC100578600': 'gene',
 'XM_003249064': 'five_prime_UTR',
 'XP_003249112': 'CDS',
 'LOC410771': 'gene',
 'XM_016918148': 'three_prime_UTR',
 'XP_016773637': 'CDS',
 'XM_016918144': 'three_prime_UTR',
 'XP_016773633': 'CDS',
 'XM_006557369': 'three_prime_UTR',
 'XP_006557432': 'CDS',
 'XM_016918147': 'three_prime_UTR',
 'XP_016773636': 'CDS',
 'XM_006557372': 'three_prime_UTR',
 'XP_006557435': 'CDS',
 'LOC100578571': 'gene',
 'XM_016910683': 'five_prime_UTR',
 'XP_016766172': 'CDS',
 'GeneID_100629100': 'ncRNA_gene',
 'NR_039462': 'pre_miRNA',
 'GeneID_100629100_t1': 'miRNA',
 'LOC102654047': 'gene',
 'XM_006557374': 'three_prime_UTR',
 'XP_006557437': 'CDS',
 'LOC100577692': 'gene',
 'XM_026441502': 'five_prime_UTR',
 'XP_026297287': 'CDS',
 'XR_001706010': 'mRNA',
 'XR_001706008': 'mRNA',
 'XR_003304966': 'mRNA',
 'LOC107965716': 'ncRNA_gene',
 'XR_001706027': 'lnc_RNA',
 'LOC410769': 'gene',
 'XM_394245': 'three_prime_UTR',
 'XP_394245': 'CDS',
 'XM_016916693': 'three_prime_UTR',
 'XP_016772182': 'CDS',
 'GeneID_100216325': 'gene',
 'NM_001141964': 'five_prime_UTR',
 'NP_001135436': 'CDS',
 'LOC113219286': 'ncRNA_gene',
 'XR_003306183': 'lnc_RNA',
 'LOC100578334': 'gene',
 'XM_003249062': 'five_prime_UTR',
 'XP_003249110': 'CDS',
 'LOC726756': 'gene',
 'XM_001122476': 'three_prime_UTR',
 'XP_001122476': 'CDS',
 'XR_407471': 'mRNA',
 'GeneID_410767edd9': 'gene',
 'XR_407453': 'mRNA',
 'GeneID_410767M_001204751': 'three_prime_UTR',
 'NP_001191680': 'CDS',
 'GeneID_100629079': 'ncRNA_gene',
 'NR_039460': 'pre_miRNA',
 'GeneID_100629079_t1': 'miRNA',
 'LOC726609': 'gene',
 'XM_006557358': 'five_prime_UTR',
 'XP_006557421': 'CDS',
 'XM_016914916': 'five_prime_UTR',
 'XP_016770405': 'CDS',
 'XM_006557359': 'five_prime_UTR',
 'XP_006557422': 'CDS',
 'LOC726788': 'gene',
 'XM_001122509': 'five_prime_UTR',
 'XP_001122509': 'CDS',
 'LOC100578031': 'gene',
 'XM_016917834': 'five_prime_UTR',
 'XP_016773323': 'CDS',
 'XM_026441961': 'five_prime_UTR',
 'XP_026297746': 'CDS',
 'XM_016917835': 'five_prime_UTR',
 'XP_016773324': 'CDS',
 'XM_006557357': 'five_prime_UTR',
 'XP_006557420': 'CDS',
 'LOC107966044': 'ncRNA_gene',
 'XR_001706436': 'lnc_RNA',
 'LOC410766': 'gene',
 'XM_006557355': 'three_prime_UTR',
 'XP_006557418': 'CDS',
 'XM_006557354': 'three_prime_UTR',
 'XP_006557417': 'CDS',
 'XM_026446332': 'three_prime_UTR',
 'XP_026302117': 'CDS',
 'LOC551646': 'gene',
 'XM_026446257': 'five_prime_UTR',
 'XP_026302042': 'CDS',
 'GeneID_107966077': 'ncRNA_gene',
 'GeneID_107966077_t1': 'tRNA',
 'LOC113219417': 'gene',
 'XM_026446333': 'five_prime_UTR',
 'XP_026302118': 'CDS',
 'LOC113219404': 'gene',
 'XM_026446258': 'mRNA',
 'XP_026302043': 'CDS',
 'LOC551678': 'gene',
 'XM_006557352': 'five_prime_UTR',
 'XP_006557415': 'CDS',
 'XM_624067': 'five_prime_UTR',
 'XP_624070': 'CDS',
 'GeneID_107966076': 'ncRNA_gene',
 'GeneID_107966076_t1': 'tRNA',
 'LOC726886': 'gene',
 'XM_026439854': 'five_prime_UTR',
 'XP_026295639': 'CDS',
 'LOC100577848': 'ncRNA_gene',
 'XR_407459': 'lnc_RNA',
 'LOC113219278': 'ncRNA_gene',
 'XR_003306169': 'lnc_RNA',
 'LOC408626': 'gene',
 'XM_016917790': 'three_prime_UTR',
 'XP_016773279': 'CDS',
 'XM_016917789': 'three_prime_UTR',
 'XP_016773278': 'CDS',
 'XM_006557350': 'three_prime_UTR',
 'XP_006557413': 'CDS',
 'XM_006557351': 'three_prime_UTR',
 'XP_006557414': 'CDS',
 'LOC102655614': 'ncRNA_gene',
 'XR_407457': 'lnc_RNA',
 'LOC726912': 'gene',
 'XM_016917650': 'three_prime_UTR',
 'XP_016773139': 'CDS',
 'XM_026440446': 'three_prime_UTR',
 'XP_026296231': 'CDS',
 'GeneID_100628995': 'ncRNA_gene',
 'NR_039432': 'pre_miRNA',
 'GeneID_100628995_t1': 'miRNA',
 'GeneID_100629094': 'ncRNA_gene',
 'NR_039430': 'pre_miRNA',
 'GeneID_100629094_t1': 'miRNA',
 'LOC102655442': 'ncRNA_gene',
 'XR_003304627': 'lnc_RNA',
 'XR_407455': 'lnc_RNA',
 'LOC107965930': 'ncRNA_gene',
 'XR_003304626': 'lnc_RNA',
 'LOC113219285': 'ncRNA_gene',
 'XR_003306182': 'lnc_RNA',
 'LOC100576602': 'ncRNA_gene',
 'XR_003306485': 'lnc_RNA',
 'XR_003306483': 'lnc_RNA',
 'XR_003306479': 'lnc_RNA',
 'XR_407901': 'lnc_RNA',
 'XR_003306482': 'lnc_RNA',
 'XR_003306480': 'lnc_RNA',
 'XR_001702155': 'lnc_RNA',
 'XR_003306484': 'lnc_RNA',
 'XR_003306481': 'lnc_RNA',
 'LOC113218530': 'gene',
 'XM_026446031': 'five_prime_UTR',
 'XP_026301816': 'CDS',
 'LOC100576537': 'ncRNA_gene',
 'XR_407902': 'lnc_RNA',
 'LOC100576700': 'gene',
 'XM_006558554': 'five_prime_UTR',
 'XP_006558617': 'CDS',
 'XM_026446034': 'three_prime_UTR',
 'XP_026301819': 'CDS',
 'XM_006558552': 'three_prime_UTR',
 'XP_006558615': 'CDS',
 'XM_026446033': 'five_prime_UTR',
 'XP_026301818': 'CDS',
 'GeneID_107966080': 'ncRNA_gene',
 'GeneID_107966080_t1': 'tRNA',
 'LOC113219393': 'ncRNA_gene',
 'XR_003306491': 'lnc_RNA',
 'LOC102653619': 'ncRNA_gene',
 'XR_003306489': 'lnc_RNA',
 'XR_003306488': 'lnc_RNA',
 'XR_003306486': 'lnc_RNA',
 'XR_001702156': 'lnc_RNA',
 'XR_003306487': 'lnc_RNA',
 'XR_003306490': 'lnc_RNA',
 'LOC107963981': 'ncRNA_gene',
 'XR_001702158': 'lnc_RNA',
 'LOC724948': 'gene',
 'XM_026446035': 'three_prime_UTR',
 'XP_026301820': 'CDS',
 'XM_006558620': 'three_prime_UTR',
 'XP_006558683': 'CDS',
 'LOC100576789': 'gene',
 'XM_003249303': 'three_prime_UTR',
 'XP_003249351': 'CDS',
 'XM_026446036': 'three_prime_UTR',
 'XP_026301821': 'CDS',
 'LOC113219394': 'gene',
 'XM_026446040': 'five_prime_UTR',
 'XP_026301825': 'CDS',
 'XM_026446042': 'five_prime_UTR',
 'XP_026301827': 'CDS',
 'XM_026446044': 'five_prime_UTR',
 'XP_026301829': 'CDS',
 'XM_026446041': 'five_prime_UTR',
 'XP_026301826': 'CDS',
 'XM_026446046': 'five_prime_UTR',
 'XP_026301831': 'CDS',
 'XM_026446047': 'five_prime_UTR',
 'XP_026301832': 'CDS',
 'XM_026446045': 'five_prime_UTR',
 'XP_026301830': 'CDS',
 'XR_003306492': 'mRNA',
 'XM_026446037': 'five_prime_UTR',
 'XP_026301822': 'CDS',
 'XM_026446043': 'five_prime_UTR',
 'XP_026301828': 'CDS',
 'XM_026446038': 'five_prime_UTR',
 'XP_026301823': 'CDS',
 'XM_026446039': 'five_prime_UTR',
 'XP_026301824': 'CDS',
 'LOC100576820': 'gene',
 'XM_026446049': 'three_prime_UTR',
 'XP_026301834': 'CDS',
 'LOC724874': 'gene',
 'XM_006558561': 'three_prime_UTR',
 'XP_006558624': 'CDS',
 'XM_003249306': 'three_prime_UTR',
 'XP_003249354': 'CDS',
 'XM_016910716': 'three_prime_UTR',
 'XP_016766205': 'CDS',
 'XM_026446048': 'three_prime_UTR',
 'XP_026301833': 'CDS',
 'GeneID_751098': 'gene',
 'XM_026442862': 'five_prime_UTR',
 'XP_026298647': 'CDS',
 'XM_026442921': 'five_prime_UTR',
 'XP_026298706': 'CDS',
 'XM_026442949': 'five_prime_UTR',
 'XP_026298734': 'CDS',
 'XM_026442989': 'five_prime_UTR',
 'XP_026298774': 'CDS',
 'NM_001077823': 'mRNA',
 'NP_001071291': 'CDS',
 'LOC113219395': 'gene',
 'XM_026446050': 'five_prime_UTR',
 'XP_026301835': 'CDS',
 'LOC410763': 'gene',
 'XM_006558574': 'five_prime_UTR',
 'XP_006558637': 'CDS',
 'LOC100576088': 'gene',
 'XM_026446259': 'five_prime_UTR',
 'XP_026302044': 'CDS',
 'LOC410765': 'gene',
 'XM_003249309': 'three_prime_UTR',
 'XP_003249357': 'CDS',
 'LOC113219396': 'gene',
 'XM_026446051': 'five_prime_UTR',
 'XP_026301836': 'CDS',
 'LOC408625': 'gene',
 'XM_026446052': 'five_prime_UTR',
 'XP_026301837': 'CDS',
 'LOC113218523': 'gene',
 'XM_006558575': 'three_prime_UTR',
 'XP_006558638': 'CDS',
 'LOC102654759': 'ncRNA_gene',
 'XR_003305921': 'lnc_RNA',
 'XR_407921': 'lnc_RNA',
 'LOC113219182': 'ncRNA_gene',
 'XR_003305923': 'lnc_RNA',
 'LOC724679': 'gene',
 'XM_026444468': 'three_prime_UTR',
 'XP_026300253': 'CDS',
 'LOC102654998': 'ncRNA_gene',
 'XR_001703024': 'lnc_RNA',
 'XR_001703023': 'lnc_RNA',
 'XR_003306531': 'lnc_RNA',
 'XR_003306529': 'lnc_RNA',
 'LOC409327': 'gene',
 'XM_397559': 'three_prime_UTR',
 'XP_397559': 'CDS',
 'XM_026446243': 'three_prime_UTR',
 'XP_026302028': 'CDS',
 'XM_026446238': 'three_prime_UTR',
 'XP_026302023': 'CDS',
 'XM_006558576': 'three_prime_UTR',
 'XP_006558639': 'CDS',
 'XM_006558577': 'three_prime_UTR',
 'XP_006558640': 'CDS',
 'LOC113219405': 'ncRNA_gene',
 'XR_003306535': 'lnc_RNA',
 'XR_003306532': 'lnc_RNA',
 'LOC724537': 'gene',
 'XM_001120426': 'three_prime_UTR',
 'XP_001120426': 'CDS',
 'XM_016912272': 'three_prime_UTR',
 'XP_016767761': 'CDS',
 'LOC102655107': 'gene',
 'XM_006558578': 'three_prime_UTR',
 'XP_006558641': 'CDS',
 'LOC409620': 'gene',
 'XM_026439220': 'five_prime_UTR',
 'XP_026295005': 'CDS',
 'XM_026439223': 'five_prime_UTR',
 'XP_026295008': 'CDS',
 'LOC100577325': 'gene',
 'XM_003249313': 'three_prime_UTR',
 'XP_003249361': 'CDS',
 'XM_003249312': 'three_prime_UTR',
 'XP_003249360': 'CDS',
 'LOC113219401': 'ncRNA_gene',
 'XR_003306523': 'lnc_RNA',
 'LOC551204': 'gene',
 'XM_623599': 'three_prime_UTR',
 'XP_623602': 'CDS',
 'LOC724372': 'gene',
 'XM_006558581': 'five_prime_UTR',
 'XP_006558644': 'CDS',
 'XM_006558582': 'five_prime_UTR',
 'XP_006558645': 'CDS',
 'LOC725343': 'gene',
 'XM_026446194': 'three_prime_UTR',
 'XP_026301979': 'CDS',
 'LOC725306': 'gene',
 'XM_006558583': 'five_prime_UTR',
 'XP_006558646': 'CDS',
 'XM_006558584': 'five_prime_UTR',
 'XP_006558647': 'CDS',
 'LOC409930': 'gene',
 'XM_393421': 'five_prime_UTR',
 'XP_393421': 'CDS',
 'LOC409931': 'gene',
 'XM_393422': 'five_prime_UTR',
 'XP_393422': 'CDS',
 'XM_016912185': 'five_prime_UTR',
 'XP_016767674': 'CDS',
 'LOC107964458': 'ncRNA_gene',
 'XR_001702974': 'lnc_RNA',
 'LOC100578066': 'gene',
 'XM_006558591': 'three_prime_UTR',
 'XP_006558654': 'CDS',
 'XM_006558590': 'three_prime_UTR',
 'XP_006558653': 'CDS',
 'XM_006558588': 'three_prime_UTR',
 'XP_006558651': 'CDS',
 'XM_026444753': 'three_prime_UTR',
 'XP_026300538': 'CDS',
 'XM_006558593': 'three_prime_UTR',
 'XP_006558656': 'CDS',
 'XM_006558587': 'three_prime_UTR',
 'XP_006558650': 'CDS',
 'XM_026444772': 'three_prime_UTR',
 'XP_026300557': 'CDS',
 'LOC107964442': 'ncRNA_gene',
 'XR_003305983': 'lnc_RNA',
 'LOC113219207': 'ncRNA_gene',
 'XR_003305978': 'lnc_RNA',
 'XR_003305979': 'lnc_RNA',
 'LOC113219214': 'ncRNA_gene',
 'XR_003305996': 'lnc_RNA',
 'XR_003305995': 'lnc_RNA',
 'LOC411665': 'gene',
 'XM_016912197': 'five_prime_UTR',
 'XP_016767686': 'CDS',
 'XM_006558586': 'five_prime_UTR',
 'XP_006558649': 'CDS',
 'XM_006558585': 'five_prime_UTR',
 'XP_006558648': 'CDS',
 'XM_395133': 'five_prime_UTR',
 'XP_395133': 'CDS',
 'LOC102655805': 'ncRNA_gene',
 'XR_407947': 'lnc_RNA',
 'LOC102655775': 'ncRNA_gene',
 'XR_003305999': 'lnc_RNA',
 'LOC102655747': 'ncRNA_gene',
 'XR_407945': 'lnc_RNA',
 'LOC102655720': 'ncRNA_gene',
 'XR_001702958': 'lnc_RNA',
 'LOC102655652': 'ncRNA_gene',
 'XR_407941': 'lnc_RNA',
 'XR_003305988': 'lnc_RNA',
 'XR_001702946': 'lnc_RNA',
 'LOC100578187': 'ncRNA_gene',
 'XR_001702932': 'lnc_RNA',
 'LOC102656449': 'ncRNA_gene',
 'XR_003305896': 'lnc_RNA',
 'LOC725041': 'gene',
 'XM_001120937': 'three_prime_UTR',
 'XP_001120937': 'CDS',
 'LOC100578245': 'gene',
 'XM_003249288': 'five_prime_UTR',
 'XP_003249336': 'CDS',
 'XM_006558598': 'five_prime_UTR',
 'XP_006558661': 'CDS',
 'XM_006558596': 'five_prime_UTR',
 'XP_006558659': 'CDS',
 'XM_006558597': 'five_prime_UTR',
 'XP_006558660': 'CDS',
 'LOC409852': 'gene',
 'XM_393342': 'three_prime_UTR',
 'XP_393342': 'CDS',
 'GeneID_107966075': 'ncRNA_gene',
 'GeneID_107966075_t1': 'tRNA',
 'LOC102656644': 'ncRNA_gene',
 'XR_003304339': 'lnc_RNA',
 'XR_003304344': 'lnc_RNA',
 'XR_003304345': 'lnc_RNA',
 'LOC102654804': 'gene',
 'XM_006558622': 'three_prime_UTR',
 'XP_006558685': 'CDS',
 'LOC413835': 'gene',
 'XM_006558601': 'three_prime_UTR',
 'XP_006558664': 'CDS',
 'XM_397274': 'three_prime_UTR',
 'XP_397274': 'CDS',
 'XR_001706446': 'mRNA',
 'XM_003249289': 'three_prime_UTR',
 'XP_003249337': 'CDS',
 'XR_001706444': 'mRNA',
 'XR_001706445': 'mRNA',
 'LOC413834': 'gene',
 'XM_016917618': 'three_prime_UTR',
 'XP_016773107': 'CDS',
 'XM_026446280': 'three_prime_UTR',
 'XP_026302065': 'CDS',
 'XM_006558603': 'three_prime_UTR',
 'XP_006558666': 'CDS',
 'XM_397273': 'three_prime_UTR',
 'XP_397273': 'CDS',
 'LOC113219407': 'gene',
 'XM_026446281': 'three_prime_UTR',
 'XP_026302066': 'CDS',
 'LOC409999': 'gene',
 'XM_393487': 'five_prime_UTR',
 'XP_393487': 'CDS',
 'XM_006558606': 'five_prime_UTR',
 'XP_006558669': 'CDS',
 'LOC727331': 'gene',
 'XM_026446282': 'three_prime_UTR',
 'XP_026302067': 'CDS',
 'LOC412118': 'gene',
 'XM_395584': 'five_prime_UTR',
 'XP_395584': 'CDS',
 'LOC726902': 'gene',
 'XM_001121025': 'three_prime_UTR',
 'XP_001121025': 'CDS',
 'LOC552064': 'gene',
 'XM_624443': 'three_prime_UTR',
 'XP_624446': 'CDS',
 'XM_006558608': 'three_prime_UTR',
 'XP_006558671': 'CDS',
 'LOC409479': 'gene',
 'XM_006558609': 'three_prime_UTR',
 'XP_006558672': 'CDS',
 'GeneID_413609': 'gene',
 'NM_001214904': 'three_prime_UTR',
 'NP_001201833': 'CDS',
 'XM_026440876': 'three_prime_UTR',
 'XP_026296661': 'CDS',
 'XM_026440906': 'three_prime_UTR',
 'XP_026296691': 'CDS',
 'LOC552163': 'gene',
 'XM_016917865': 'five_prime_UTR',
 'XP_016773354': 'CDS',
 'XM_006558610': 'five_prime_UTR',
 'XP_006558673': 'CDS',
 'XM_016917864': 'five_prime_UTR',
 'XP_016773353': 'CDS',
 'LOC727019': 'gene',
 'XM_006558611': 'five_prime_UTR',
 'XP_006558674': 'CDS',
 'LOC100578696': 'gene',
 'XM_006558613': 'three_prime_UTR',
 'XP_006558676': 'CDS',
 'XM_016917798': 'three_prime_UTR',
 'XP_016773287': 'CDS',
 'LOC412925': 'gene',
 'XM_396376': 'five_prime_UTR',
 'XP_396376': 'CDS',
 'LOC411675': 'gene',
 'XM_395143': 'three_prime_UTR',
 'XP_395143': 'CDS',
 'XM_016917921': 'three_prime_UTR',
 'XP_016773410': 'CDS',
 'LOC411808': 'gene',
 'XM_006558616': 'five_prime_UTR',
 'XP_006558679': 'CDS',
 'LOC725638': 'gene',
 'XM_001121467': 'three_prime_UTR',
 'XP_001121467': 'CDS',
 'LOC724901': 'gene',
 'XM_001119959': 'five_prime_UTR',
 'XP_001119959': 'CDS',
 'XM_006559838': 'five_prime_UTR',
 'XP_006559901': 'CDS',
 'LOC551574': 'gene',
 'XM_006559839': 'five_prime_UTR',
 'XP_006559902': 'CDS',
 'XM_026442212': 'five_prime_UTR',
 'XP_026297997': 'CDS',
 'LOC412610': 'gene',
 'XM_026442190': 'three_prime_UTR',
 'XP_026297975': 'CDS',
 'XM_026442197': 'three_prime_UTR',
 'XP_026297982': 'CDS',
 'LOC413784': 'gene',
 'XM_026445497': 'three_prime_UTR',
 'XP_026301282': 'CDS',
 'LOC102655618': 'gene',
 'XM_026445525': 'five_prime_UTR',
 'XP_026301310': 'CDS',
 'LOC412473': 'gene',
 'XM_395930': 'three_prime_UTR',
 'XP_395930': 'CDS',
 'LOC550706': 'gene',
 'XM_006559842': 'three_prime_UTR',
 'XP_006559905': 'CDS',
 'XM_006559844': 'three_prime_UTR',
 'XP_006559907': 'CDS',
 'XM_006559845': 'five_prime_UTR',
 'XP_006559908': 'CDS',
 'XM_006559843': 'mRNA',
 'XP_006559906': 'CDS',
 'LOC725378': 'gene',
 'XM_003249533': 'five_prime_UTR',
 'XP_003249581': 'CDS',
 'GeneID_727422': 'gene',
 'XM_026442641': 'five_prime_UTR',
 'XP_026298426': 'CDS',
 'XM_026442619': 'five_prime_UTR',
 'XP_026298404': 'CDS',
 'NM_001242556': 'five_prime_UTR',
 'NP_001229485': 'CDS',

In [67]:
gffCompare['type']= gffCompare[3].map(dici)
gffCompare

,1,2,3,4,5,6,7,8,9,10,11,type
0,id1,QIUM02000069,XR_001706316,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,lnc_RNA
1,id2,QIUM02000069,GeneID_107965769_t1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tRNA
2,id3,QIUM02000069,NR_039429,transcript:GeneID_100629076_t1:100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,pre_miRNA
3,id4,QIUM02000069,NR_039535,transcript:GeneID_100629120_t1:100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,pre_miRNA
4,id5,QIUM02000185,XR_003306400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,rRNA
...,...,...,...,...,...,...,...,...,...,...,...,...
437,id538,QIUM02000157,LOC113219379_df_pt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,pseudogenic_transcript
438,id539,QIUM02000161,XR_003306453,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,rRNA
439,id540,QIUM02000161,XR_003306454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,rRNA
440,id541,QIUM02000161,XR_003306452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,rRNA
441,id542,QIUM02000161,XM_026446000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,five_prime_UTR

In [74]:
gffFinal = gffCompare[[1,'type']]
gffFinal = gffFinal.rename(columns={1:'attributes'})

In [69]:
gffCompare.to_csv('ApisEnsembl/compare/ResultadoArrumado.csv')

In [75]:
vitorTool['attributes'] = vitorTool['attributes'].str.replace('ID=','')
vitorTool

,seq_id,source,type,start,end,score,strand,phase,attributes
0,QIUM02000069.1,Blast,lncRNA,14543,16851,4265.0,+,.,id1
1,QIUM02000069.1,Both,tRNA,69980,70051,134.0,+,.,id2
2,QIUM02000069.1,Both,pre_miRNA,228877,229013,254.0,-,.,id3
3,QIUM02000069.1,Blast,pre_miRNA,229034,229169,252.0,-,.,id4
4,QIUM02000185.1,Both,rRNA,2576,6604,3029.0,-,.,id5
...,...,...,...,...,...,...,...,...,...
537,QIUM02000157.1,Both,rRNA,13277,15501,3411.0,-,.,id538
538,QIUM02000161.1,Both,rRNA,72,1994,3190.0,-,.,id539
539,QIUM02000161.1,Both,rRNA,5820,9848,3371.0,-,.,id540
540,QIUM02000161.1,Infernal,rRNA,11398,11552,119.0,-,.,id541
541,QIUM02000161.1,Infernal,rRNA,13255,14627,1271.9,-,.,id542

In [77]:
junto = pd.merge(vitorTool, gffFinal, how='outer', on='attributes')
junto

,seq_id,source,type_x,start,end,score,strand,phase,attributes,type_y
0,QIUM02000069.1,Blast,lncRNA,14543,16851,4265.0,+,.,id1,lnc_RNA
1,QIUM02000069.1,Both,tRNA,69980,70051,134.0,+,.,id2,tRNA
2,QIUM02000069.1,Both,pre_miRNA,228877,229013,254.0,-,.,id3,pre_miRNA
3,QIUM02000069.1,Blast,pre_miRNA,229034,229169,252.0,-,.,id4,pre_miRNA
4,QIUM02000185.1,Both,rRNA,2576,6604,3029.0,-,.,id5,rRNA
...,...,...,...,...,...,...,...,...,...,...
537,QIUM02000157.1,Both,rRNA,13277,15501,3411.0,-,.,id538,pseudogenic_transcript
538,QIUM02000161.1,Both,rRNA,72,1994,3190.0,-,.,id539,rRNA
539,QIUM02000161.1,Both,rRNA,5820,9848,3371.0,-,.,id540,rRNA
540,QIUM02000161.1,Infernal,rRNA,11398,11552,119.0,-,.,id541,rRNA
541,QIUM02000161.1,Infernal,rRNA,13255,14627,1271.9,-,.,id542,five_prime_UTR

In [78]:
junto.to_csv('ApisEnsembl/compare/ResultadoArrumado.csv')

In [5]:
ncbi = ncbi = pd.read_csv('GCF_002263795.2_ARS-UCD1.3_genomic (2).gff', sep='\t', comment="#", names=['seq_id', 'source', 'type', 'start', 'end', 'score', 'strand', 'phase', 'attributes'])
ncbi = ncbi.dropna()
ncbi['start'] = ncbi.start.astype('int64')
ncbi['end'] = ncbi.end.astype('int64')
ncbi

,seq_id,source,type,start,end,score,strand,phase,attributes
0,NC_037328.1,RefSeq,region,1,158534110,.,+,.,ID=NC_037328.1:1..158534110;Dbxref=taxon:9913;...
1,NC_037328.1,Gnomon,pseudogene,207958,209108,.,-,.,ID=gene-LOC112447009;Dbxref=GeneID:112447009;N...
2,NC_037328.1,Gnomon,exon,207958,208664,.,-,.,ID=id-LOC112447009;Parent=gene-LOC112447009;Db...
3,NC_037328.1,Gnomon,exon,209091,209108,.,-,.,ID=id-LOC112447009-2;Parent=gene-LOC112447009;...
4,NC_037328.1,Gnomon,gene,210759,214966,.,-,.,ID=gene-LOC112447072;Dbxref=GeneID:112447072;N...
...,...,...,...,...,...,...,...,...,...
1858846,NC_006853.1,RefSeq,exon,15658,15726,.,+,.,ID=exon-KEH36_t21-1;Parent=rna-KEH36_t21;Dbxre...
1858847,NC_006853.1,RefSeq,gene,15726,15791,.,-,.,ID=gene-KEH36_t22;Dbxref=GeneID:64986899;Name=...
1858848,NC_006853.1,RefSeq,tRNA,15726,15791,.,-,.,ID=rna-KEH36_t22;Parent=gene-KEH36_t22;Dbxref=...
1858849,NC_006853.1,RefSeq,exon,15726,15791,.,-,.,ID=exon-KEH36_t22-1;Parent=rna-KEH36_t22;Dbxre...
1858850,NC_006853.1,RefSeq,D_loop,15792,16701,.,+,.,ID=id-NC_006853.1:1..16338;gbkey=D-loop

In [6]:
ncbi['type'].value_counts()

exon                     918612
CDS                      789181
mRNA                      63644
cDNA_match                34883
gene                      30543
lnc_RNA                    7254
pseudogene                 4564
transcript                 2953
region                     1957
tRNA                       1652
snRNA                       978
miRNA                       875
primary_transcript          797
snoRNA                      634
V_gene_segment              159
match                        97
guide_RNA                    28
C_gene_segment               18
rRNA                         16
telomerase_RNA                1
RNase_MRP_RNA                 1
SRP_RNA                       1
antisense_RNA                 1
origin_of_replication         1
D_loop                        1
Name: type, dtype: int64

In [21]:
ncbi2= ncbi[(ncbi['type']!='CDS') & (ncbi['type']!='mRNA')& (ncbi['type']!='cDNA_match')& (ncbi['type']!='region')]
ncbi2

,seq_id,source,type,start,end,score,strand,phase,attributes
1,NC_037328.1,Gnomon,pseudogene,207958,209108,.,-,.,ID=gene-LOC112447009;Dbxref=GeneID:112447009;N...
2,NC_037328.1,Gnomon,exon,207958,208664,.,-,.,ID=id-LOC112447009;Parent=gene-LOC112447009;Db...
3,NC_037328.1,Gnomon,exon,209091,209108,.,-,.,ID=id-LOC112447009-2;Parent=gene-LOC112447009;...
4,NC_037328.1,Gnomon,gene,210759,214966,.,-,.,ID=gene-LOC112447072;Dbxref=GeneID:112447072;N...
5,NC_037328.1,Gnomon,lnc_RNA,210759,214966,.,-,.,ID=rna-XR_003035142.1;Parent=gene-LOC112447072...
...,...,...,...,...,...,...,...,...,...
1858846,NC_006853.1,RefSeq,exon,15658,15726,.,+,.,ID=exon-KEH36_t21-1;Parent=rna-KEH36_t21;Dbxre...
1858847,NC_006853.1,RefSeq,gene,15726,15791,.,-,.,ID=gene-KEH36_t22;Dbxref=GeneID:64986899;Name=...
1858848,NC_006853.1,RefSeq,tRNA,15726,15791,.,-,.,ID=rna-KEH36_t22;Parent=gene-KEH36_t22;Dbxref=...
1858849,NC_006853.1,RefSeq,exon,15726,15791,.,-,.,ID=exon-KEH36_t22-1;Parent=rna-KEH36_t22;Dbxre...
1858850,NC_006853.1,RefSeq,D_loop,15792,16701,.,+,.,ID=id-NC_006853.1:1..16338;gbkey=D-loop

In [22]:
ncbi2['type'] = ncbi2['type'].str.replace('exon','aaexon')
ncbi2 = ncbi2.sort_values(by=['seq_id', 'start', 'type'], ascending=[True, True, False])
ncbi2

C:\Users\vitor\AppData\Local\Temp\ipykernel_10912\3184291302.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ncbi2['type'] = ncbi2['type'].str.replace('exon','aaexon')

,seq_id,source,type,start,end,score,strand,phase,attributes
1858726,NC_006853.1,RefSeq,tRNA,364,430,.,+,.,ID=rna-KEH36_t01;Parent=gene-KEH36_t01;Dbxref=...
1858725,NC_006853.1,RefSeq,gene,364,430,.,+,.,ID=gene-KEH36_t01;Dbxref=GeneID:64986885;Name=...
1858727,NC_006853.1,RefSeq,aaexon,364,430,.,+,.,ID=exon-KEH36_t01-1;Parent=rna-KEH36_t01;Dbxre...
1858729,NC_006853.1,RefSeq,rRNA,431,1385,.,+,.,ID=rna-KEH36_r02;Parent=gene-KEH36_r02;Dbxref=...
1858728,NC_006853.1,RefSeq,gene,431,1385,.,+,.,ID=gene-KEH36_r02;Dbxref=GeneID:64986886;Name=...
...,...,...,...,...,...,...,...,...,...
1858707,NW_020192294.1,Gnomon,gene,955393,958367,.,+,.,ID=gene-LOC112445852;Dbxref=GeneID:112445852;N...
1858709,NW_020192294.1,Gnomon,aaexon,955393,955937,.,+,.,ID=exon-XR_003033832.1-1;Parent=rna-XR_0030338...
1858710,NW_020192294.1,Gnomon,aaexon,957162,958367,.,+,.,ID=exon-XR_003033832.1-2;Parent=rna-XR_0030338...
1858705,NW_020192294.1,Gnomon,aaexon,968193,968781,.,+,.,ID=exon-XR_817163.3-2;Parent=rna-XR_817163.3;D...
1858706,NW_020192294.1,Gnomon,aaexon,975708,976297,.,+,.,ID=exon-XR_817163.3-3;Parent=rna-XR_817163.3;D...

In [23]:
ncbi2=ncbi2.drop_duplicates(subset=['seq_id','start','end'])
ncbi2

,seq_id,source,type,start,end,score,strand,phase,attributes
1858726,NC_006853.1,RefSeq,tRNA,364,430,.,+,.,ID=rna-KEH36_t01;Parent=gene-KEH36_t01;Dbxref=...
1858729,NC_006853.1,RefSeq,rRNA,431,1385,.,+,.,ID=rna-KEH36_r02;Parent=gene-KEH36_r02;Dbxref=...
1858732,NC_006853.1,RefSeq,tRNA,1386,1452,.,+,.,ID=rna-KEH36_t02;Parent=gene-KEH36_t02;Dbxref=...
1858735,NC_006853.1,RefSeq,rRNA,1453,3023,.,+,.,ID=rna-KEH36_r01;Parent=gene-KEH36_r01;Dbxref=...
1858738,NC_006853.1,RefSeq,tRNA,3024,3098,.,+,.,ID=rna-KEH36_t03;Parent=gene-KEH36_t03;Dbxref=...
...,...,...,...,...,...,...,...,...,...
1858708,NW_020192294.1,Gnomon,lnc_RNA,955393,958367,.,+,.,ID=rna-XR_003033832.1;Parent=gene-LOC112445852...
1858709,NW_020192294.1,Gnomon,aaexon,955393,955937,.,+,.,ID=exon-XR_003033832.1-1;Parent=rna-XR_0030338...
1858710,NW_020192294.1,Gnomon,aaexon,957162,958367,.,+,.,ID=exon-XR_003033832.1-2;Parent=rna-XR_0030338...
1858705,NW_020192294.1,Gnomon,aaexon,968193,968781,.,+,.,ID=exon-XR_817163.3-2;Parent=rna-XR_817163.3;D...
1858706,NW_020192294.1,Gnomon,aaexon,975708,976297,.,+,.,ID=exon-XR_817163.3-3;Parent=rna-XR_817163.3;D...

In [24]:
ncbi3 = ncbi2['attributes'].str.split("gbkey=", n=-1, expand=True)
ncbi4 = ncbi3[1].str.split(";", n=-1, expand=True)
ncbi4

,0,1,2,3,4,5,6
1858726,tRNA,locus_tag=KEH36_t01,product=tRNA-Phe,None,None,None,None
1858729,rRNA,locus_tag=KEH36_r02,product=s-rRNA,None,None,None,None
1858732,tRNA,locus_tag=KEH36_t02,product=tRNA-Val,None,None,None,None
1858735,rRNA,locus_tag=KEH36_r01,product=l-rRNA,None,None,None,None
1858738,tRNA,locus_tag=KEH36_t03,product=tRNA-Leu,None,None,None,None
...,...,...,...,...,...,...,...
1858708,ncRNA,gene=LOC112445852,model_evidence=Supporting evidence includes si...,product=uncharacterized LOC112445852,transcript_id=XR_003033832.1,None,None
1858709,ncRNA,gene=LOC112445852,product=uncharacterized LOC112445852,transcript_id=XR_003033832.1,None,None,None
1858710,ncRNA,gene=LOC112445852,product=uncharacterized LOC112445852,transcript_id=XR_003033832.1,None,None,None
1858705,ncRNA,gene=LOC104970622,product=uncharacterized LOC104970622,transcript_id=XR_817163.3,None,None,None
1858706,ncRNA,gene=LOC104970622,product=uncharacterized LOC104970622,transcript_id=XR_817163.3,None,None,None

In [25]:
ncbi4[0].value_counts()

mRNA             241588
ncRNA             27396
misc_RNA          25340
Gene              25293
exon               4855
tRNA               1722
precursor_RNA       794
V_segment           350
C_region            109
rRNA                 16
rep_origin            1
D-loop                1
Name: 0, dtype: int64

In [26]:
ncbi2['attributes']=ncbi4[0]

C:\Users\vitor\AppData\Local\Temp\ipykernel_10912\2139765701.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ncbi2['attributes']=ncbi4[0]

In [28]:
ncbi2[ncbi2['attributes']!='mRNA']

,seq_id,source,type,start,end,score,strand,phase,attributes
1858726,NC_006853.1,RefSeq,tRNA,364,430,.,+,.,tRNA
1858729,NC_006853.1,RefSeq,rRNA,431,1385,.,+,.,rRNA
1858732,NC_006853.1,RefSeq,tRNA,1386,1452,.,+,.,tRNA
1858735,NC_006853.1,RefSeq,rRNA,1453,3023,.,+,.,rRNA
1858738,NC_006853.1,RefSeq,tRNA,3024,3098,.,+,.,tRNA
...,...,...,...,...,...,...,...,...,...
1858708,NW_020192294.1,Gnomon,lnc_RNA,955393,958367,.,+,.,ncRNA
1858709,NW_020192294.1,Gnomon,aaexon,955393,955937,.,+,.,ncRNA
1858710,NW_020192294.1,Gnomon,aaexon,957162,958367,.,+,.,ncRNA
1858705,NW_020192294.1,Gnomon,aaexon,968193,968781,.,+,.,ncRNA
1858706,NW_020192294.1,Gnomon,aaexon,975708,976297,.,+,.,ncRNA