In [1]:
import pandas as pd
import datetime as dt
import argparse
import os
import pickle
from Bio import SeqIO
from Bio.SeqRecord import SeqRecord
pd.set_option('mode.chained_assignment', None)
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
blast1= 'blastn_Chlamydia_trachomatis_NC_000117_ci98.tsv' #salva o path do arquivo
arqBlast1 = pd.read_csv(blast1, sep='\t', names=['accession2', 'targetName', 'accession', 'queryName', 'mdl', 'mdlFrom', 'mdlTo', 'trunc','seqFrom', 'seqTo', 'strand', 'Evalue', 'score','inc', 'bias'])

In [3]:
for index, row in arqBlast1.iterrows():
    if arqBlast1.loc[index,'seqFrom'] > arqBlast1.loc[index,'seqTo']:
        aux = arqBlast1.loc[index,'seqFrom']
        arqBlast1.loc[index,'seqFrom'] = arqBlast1.loc[index,'seqTo'] 
        arqBlast1.loc[index,'seqTo'] = aux

arqBlast1 = arqBlast1.sort_values(['targetName', 'Evalue', 'seqFrom', 'seqTo', 'score'], ascending=[True, True, True, False, False])
arqBlast1 = arqBlast1.drop_duplicates(subset=['targetName', 'seqFrom', 'seqTo', 'strand']) #remove quando tem inicio e fim igual, mantendo a com menor e-value
arqBlast1 = arqBlast1.drop_duplicates(subset=['targetName', 'seqFrom', 'strand']) #remove quando tem inicio igual, mantendo a com menor e-value
arqBlast1 = arqBlast1.drop_duplicates(subset=['targetName', 'seqTo', 'strand']) #remove quando tem fim igual, mantendo a com menor e-value
arqBlast1 = arqBlast1.reset_index(drop=True)
arqBlast = arqBlast1[['targetName', 'seqFrom', 'seqTo', 'accession', 'accession2', 'strand', 'score', 'Evalue']]

In [4]:
arqBlast

,targetName,seqFrom,seqTo,accession,accession2,strand,score,Evalue
0,ref|NC_000117.1|,20663,21082,100.000,URS000011A2AD_1071757,minus,776.0,0.000000e+00
1,ref|NC_000117.1|,457002,457409,99.510,URS000043BA4C_813,plus,741.0,0.000000e+00
2,ref|NC_000117.1|,457003,457408,100.000,URS00000121B2_1431547,plus,750.0,0.000000e+00
3,ref|NC_000117.1|,853915,855455,99.546,URS000040046F_1260223,plus,2808.0,0.000000e+00
4,ref|NC_000117.1|,854122,855676,100.000,URS00008A6B62_580049,plus,2872.0,0.000000e+00
...,...,...,...,...,...,...,...,...
148,ref|NC_000117.1|,877664,877728,98.462,URS0000ACAC74_83554,plus,115.0,7.880000e-28
149,ref|NC_000117.1|,937070,937127,100.000,URS00002DBDD2_1071759,plus,108.0,1.130000e-25
150,ref|NC_000117.1|,857879,857936,98.276,URS000080E0D8_562,plus,102.0,5.370000e-24
151,ref|NC_000117.1|,879925,879982,98.276,URS000080E0D8_562,plus,102.0,5.370000e-24
152,ref|NC_000117.1|,490023,490050,100.000,URS0002196074_193312,minus,52.8,1.570000e-09

In [5]:
arqBlast.to_csv('filtro_blastn_Chlamydia_trachomatis_NC_000117_ci98.csv', index=False)